<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
	<title>Event Management</title>
	<link rel='stylesheet' href='js/vendor/revslider/public/assets/css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' href='js/vendor/swiper/swiper.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/woo/woo-style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
	<style id='themerex-custom-style-inline-css' type='text/css'></style>
	<link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />

</head>

<body class="page body_style_boxed body_filled article_style_stretch top_panel_show top_panel_above sidebar_hide sidebar_outer_hide">
	
	<div class="body_wrap bg_color_1">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>

			<header class="top_panel_wrap top_panel_style_1 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_1 top_panel_position_above">
					<div class="top_panel_top">
						<div class="content_wrap clearfix">
							<div class="top_panel_top_contact_area">
								Welcome to our Event Management Website!
							</div>
							<div class="top_panel_top_open_hours icon-clock">Open hours: 8.00-18.00 Mon-Sat</div>
							<div class="top_panel_top_user_area">
								<div class="top_panel_top_socials">
									<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_facebook">
												<span class="icon-facebook"></span>
											</a>
										</div>
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_gplus">
												<span class="icon-gplus"></span>
											</a>
										</div>
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_twitter">
												<span class="icon-twitter"></span>
											</a>
										</div>
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_behance">
												<span class="icon-behance"></span>
											</a>
										</div>
									</div>
								</div>
								<ul id="menu_user" class="menu_user_nav">
									<li class="menu_user_bookmarks">
										<a href="#" class="bookmarks_show icon-star-empty" title="Show bookmarks">Bookmarks</a>
										<ul class="bookmarks_list">
											<li>
												<a href="#" class="bookmarks_add" title="Add the current page into bookmarks">Add bookmark</a>
											</li>
										</ul>
									</li>
									<li class="menu_user_login">
										<a href="#popup_login" class="popup_link popup_login_link icon-user">Login</a>
										<div id="popup_login" class="popup_wrap popup_login bg_tint_light">
											<a href="#" class="popup_close">
											</a>
											<div class="form_wrap">
												<div class="form_left">
													<form action="#" method="post" name="login_form" class="popup_form login_form">
														<input type="hidden" name="redirect_to" value="#">
														<div class="popup_form_field login_field iconed_field icon-user">
															<input type="text" id="log" name="log" value="" placeholder="Login or Email">
														</div>
														<div class="popup_form_field password_field iconed_field icon-lock">
															<input type="password" id="password" name="pwd" value="" placeholder="Password">
														</div>
														<div class="popup_form_field remember_field">
															<a href="#" class="forgot_password">Forgot password?</a>
															<input type="checkbox" value="forever" id="rememberme" name="rememberme">
															<label for="rememberme">Remember me</label>
														</div>
														<div class="popup_form_field submit_field">
															<input type="submit" class="submit_button" value="Login">
														</div>
													</form>
												</div>
												<div class="form_right">
													<div class="login_socials_title">You can login using your social profile</div>
													<div class="login_socials_list">
														<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_facebook">
																	<span class="icon-facebook"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_twitter">
																	<span class="icon-twitter"></span>
																</a>
															</div>
															<div class="sc_socials_item">
																<a href="#" target="_blank" class="social_icons social_gplus">
																	<span class="icon-gplus"></span>
																</a>
															</div>
														</div>
													</div>
													<div class="login_socials_problem">
														<a href="#">Problem with login?</a>
													</div>
													<div class="result message_block"></div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>		
					<div class="top_panel_middle" >
						<div class="content_wrap">
							<div class="columns_wrap columns_fluid">
								<div class="column-2_5 contact_logo">
									<div class="logo">
										<a href="index.html">
											<img src="images/135x30.png" class="logo_main" alt="">
											<img src="images/135x30.png" class="logo_fixed" alt="">
											<br>
											<div class="logo_slogan"> </div>
										</a>
									</div>
								</div><div class="column-1_5 contact_field contact_address">
									<span class="contact_icon icon-pin75">
									</span>
									<span class="contact_label contact_address_1">123, New Lenox</span>
									<span class="contact_address_2">Chicago, IL 60606</span>
								</div><div class="column-1_5 contact_field contact_phone">
									<span class="contact_icon icon-email129">
									</span>
									<span class="contact_label contact_phone">123-456-7890</span>
									<span class="contact_email">
										info@example.com
									</span>
								</div><div class="column-1_5 contact_field contact_cart">
									<a href="#" class="top_panel_cart_button" data-items="0" data-summa="&#036;0.00">
										<span class="contact_icon icon-basket38">
										</span>
										<span class="contact_label contact_cart_label">Your cart:</span>
										<span class="contact_cart_totals">
											<span class="cart_items">Items 0 </span>
											-
											<span class="cart_summa">&#36;0.00</span>
										</span>
									</a>
									<ul class="widget_area sidebar_cart sidebar">
										<li>
											<div class="widget woocommerce widget_shopping_cart">
												<div class="hide_cart_widget_if_empty">
													<div class="widget_shopping_cart_content">
														<ul class="cart_list product_list_widget ">
															<li class="empty">No products in the cart.</li>
														</ul><!-- end product list -->
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="top_panel_bottom">
						<div class="content_wrap clearfix">
							<a href="#" class="menu_main_responsive_button icon-down"></a>
							<nav class="menu_main_nav_area">
								<ul id="menu_main" class="menu_main_nav">
									<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
										<a>Home Page</a>
										<ul class="sub-menu">
											<li class="menu-item">
												<a href="index.html">Home Default</a>
											</li>
											<li class="menu-item">
												<a href="index-landing.html">Home Landing</a>
											</li>
											<li class="menu-item">
												<a href="index-single-page.html">Home Single Page</a>
											</li>
											<li class="menu-item">
												<a href="index-portfolio.html">Home Portfolio</a>
											</li>
											<li class="menu-item">
												<a href="index-presentation.html">Home Presentation</a>
											</li>
											<li class="menu-item current-menu-item current_page_item">
												<a href="index-boxed.html">Home Boxed</a>
											</li>
											<li class="menu-item">
												<a href="index-minimalistic.html">Home Minimalistic</a>
											</li>
											<li class="menu-item">
												<a href="index-creative.html">Home Creative</a>
											</li>
											<li class="menu-item">
												<a href="index-shop.html">Home Shop</a>
											</li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children">
										<a>Pages</a>
										<ul class="sub-menu">
											<li class="menu-item">
												<a href="pages-about-us.html">About</a>
											</li>
											<li class="menu-item">
												<a href="pages-services.html">Services</a>
											</li>
											<li class="menu-item">
												<a href="pages-team.html">Team</a>
											</li>
											<li class="menu-item">
												<a href="pages-team-member.html">Team Member</a>
											</li>
											<li class="menu-item">
												<a href="pages-404.html">404 Page</a>
											</li>
											<li class="menu-item">
												<a href="pages-maintenance.html">Maintenance Page</a>
											</li>
											<li class="menu-item">
												<a href="pages-coming-soon.html">Coming Soon Page</a>
											</li>
											<li class="menu-item">
												<a href="pages-contact-us.html">Contact Us Page</a>
											</li>
											<li class="menu-item">
												<a href="pages-pricing-table.html">Pricing</a>
											</li>
											<li class="menu-item">
												<a href="pages-faq-page.html">Faq</a>
											</li>
											<li class="menu-item">
												<a href="pages-events.html">Events</a>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Community</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="pages-community-activity.html">Activity</a>
													</li>
													<li class="menu-item">
														<a href="pages-community-members.html">Members</a>
													</li>
													<li class="menu-item">
														<a href="pages-community-groups.html">Groups</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children">
										<a>Features</a>
										<ul class="sub-menu">
											<li class="menu-item">
												<a href="features-typography.html">Typography</a>
											</li>
											<li class="menu-item">
												<a href="features-shortcodes.html">Shortcodes</a>
											</li>
											<li class="menu-item">
												<a href="features-support.html">Support</a>
											</li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children">
										<a>Portfolio</a>
										<ul class="sub-menu">
											<li class="menu-item">
												<a href="portfolio-polaroid-gallery.html">Polaroid Gallery</a>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Portfolio</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="portfolio-portfolio-2-columns-sidebar.html">2 columns + sidebar</a>
													</li>
													<li class="menu-item">
														<a href="portfolio-portfolio-3-columns.html">3 columns</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Grid</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="portfolio-grid-2-columns-sidebar.html">2 columns + sidebar</a>
													</li>
													<li class="menu-item">
														<a href="portfolio-grid-3-columns.html">3 columns</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Square</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="portfolio-square-2-columns-sidebar.html">2 columns + sidebar</a>
													</li>
													<li class="menu-item">
														<a href="portfolio-square-3-columns.html">3 columns</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Colored</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="portfolio-colored-2-columns-sidebar.html">2 columns + sidebar</a>
													</li>
													<li class="menu-item">
														<a href="portfolio-colored-3-columns.html">3 columns</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children">
										<a href="#">Blog</a>
										<ul class="sub-menu">
											<li class="menu-item">
												<a href="blog-standard.html">Standard</a>
											</li>
											<li class="menu-item menu-item-has-children">
												<a href="#">Masonry</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="blog-masonry-2-columns.html">Masonry 2 columns</a>
													</li>
													<li class="menu-item">
														<a href="blog-masonry-3-columns.html">Masonry 3 columns</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a href="#">Portfolio</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="blog-portfolio-2-columns.html">Portfolio 2 columns</a>
													</li>
													<li class="menu-item">
														<a href="blog-portfolio-3-columns.html">Portfolio 3 columns</a>
													</li>
												</ul>
											</li>
											<li class="menu-item">
												<a href="blog-post-formats.html">Post Formats</a>
											</li>
										</ul>
									</li>
									<li class="menu-item">
										<a href="shop.html">Shop</a>
									</li>
								</ul>
							</nav>
							<div class="search_wrap search_style_regular search_state_fixed">
								<div class="search_form_wrap">
									<form method="get" class="search_form" action="#">
										<button type="submit" class="search_submit icon-search-light" title="Start search"></button>
										<input type="text" class="search_field" placeholder="Search" value="" name="s" />
									</form>
								</div>
								<div class="search_results widget_area scheme_original">
									<a class="search_results_close">×</a>
									<div class="search_results_content"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<section id="mainslider_3" class="slider_wrap slider_fullscreen slider_engine_revo slider_alias_home-boxed mainslider_3">
				<div id="rev_slider_3_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
					<!-- START REVOLUTION SLIDER 5.0.5 auto mode -->
					<div id="rev_slider_3_1" class="rev_slider fullwidthabanner" data-version="5.0.5">
						<ul>	<!-- SLIDE  -->
							<li data-index="rs-11" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
								<!-- MAIN IMAGE -->
								<img src="http://ester-html.themerex.net/js/vendor/revslider/admin/assets/images/transparent.png"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 -->
								<div class="tp-caption   tp-resizeme"
									id="slide-11-layer-1"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset=""
									data-width="['none','none','none','none']"
									data-height="['none','none','none','none']"
									data-transform_idle="o:1;"
									data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
									data-transform_out="auto:auto;s:300;"
									data-start="0"
									data-responsive_offset="on"
									>
									<img src="http://placehold.it/1900x1071" alt="" width="1900" height="1071" data-ww="1920px" data-hh="auto" data-no-retina>
								</div>
								<!-- LAYER NR. 2 -->
								<div class="tp-caption blue-12   tp-resizeme"
									id="slide-11-layer-2"
									data-x="163"
									data-y="89"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:-50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="300"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									welcome to our new
								</div>
								<!-- LAYER NR. 3 -->
								<div class="tp-caption black-65   tp-resizeme"
									id="slide-11-layer-3"
									data-x="50"
									data-y="123"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:600;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="550"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									Intelligent & <br>
									Bright Theme
								</div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption black-20 rs-xs-hide tp-resizeme"
									id="slide-11-layer-4"
									data-x="60"
									data-y="310"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="850"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									We create quality WordPress products <br>
									for all your purposes and needs
								</div>
								<!-- LAYER NR. 5 -->
								<div class="tp-caption button rs-xs-hide tp-resizeme"
									id="slide-11-layer-5"
									data-x="145"
									data-y="420"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1100"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									<a href="#">Purchase Theme</a>
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-index="rs-12" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
								<!-- MAIN IMAGE -->
								<img src="http://ester-html.themerex.net/js/vendor/revslider/admin/assets/images/transparent.png"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 -->
								<div class="tp-caption   tp-resizeme"
									id="slide-12-layer-1"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset=""
									data-width="['none','none','none','none']"
									data-height="['none','none','none','none']"
									data-transform_idle="o:1;"
									data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
									data-transform_out="auto:auto;s:300;"
									data-start="0"
									data-responsive_offset="on"
									>
									<img src="http://placehold.it/5760x3840" alt="" width="5760" height="3840" data-ww="2300" data-hh="1533" data-no-retina>
								</div>
								<!-- LAYER NR. 2 -->
								<div class="tp-caption blue-12   tp-resizeme"
									id="slide-12-layer-2"
									data-x="center" data-hoffset="355"
									data-y="center" data-voffset="-174"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:-50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="300"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>welcome to our new
								</div>
								<!-- LAYER NR. 3 -->
								<div class="tp-caption black-65   tp-resizeme"
									id="slide-12-layer-3"
									data-x="center" data-hoffset="355"
									data-y="center" data-voffset="-80"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:600;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="550"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>Intelligent & <br>
									Bright Theme
								</div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption black-20 rs-xs-hide tp-resizeme"
									id="slide-12-layer-4"
									data-x="center" data-hoffset="355"
									data-y="center" data-voffset="65"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="850"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>We create quality WordPress products <br>
									for all your purposes and needs
								</div>
								<!-- LAYER NR. 5 -->
								<div class="tp-caption button rs-xs-hide tp-resizeme"
									id="slide-12-layer-5"
									data-x="center" data-hoffset="355"
									data-y="center" data-voffset="151"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1100"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									<a href="#">Purchase Theme</a>
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-index="rs-13" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
								<!-- MAIN IMAGE -->
								<img src="http://ester-html.themerex.net/js/vendor/revslider/admin/assets/images/transparent.png"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 -->
								<div class="tp-caption   tp-resizeme"
									id="slide-13-layer-1"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="166"
									data-width="['none','none','none','none']"
									data-height="['none','none','none','none']"
									data-transform_idle="o:1;"
									data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
									data-transform_out="auto:auto;s:300;"
									data-start="0"
									data-responsive_offset="on"
									>
									<img src="http://placehold.it/1900x1081" alt="" width="1900" height="1081" data-ww="1920px" data-hh="auto" data-no-retina>
								</div>
								<!-- LAYER NR. 2 -->
								<div class="tp-caption blue-12   tp-resizeme"
									id="slide-13-layer-2"
									data-x="163"
									data-y="79"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:-50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="300"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>welcome to our new
								</div>
								<!-- LAYER NR. 3 -->
								<div class="tp-caption black-65   tp-resizeme"
									id="slide-13-layer-3"
									data-x="50"
									data-y="113"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:600;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="550"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>Intelligent & <br>
									Bright Theme
								</div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption black-20 rs-xs-hide tp-resizeme"
									id="slide-13-layer-4"
									data-x="60"
									data-y="300"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="850"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>We create quality WordPress products <br>
									for all your purposes and needs
								</div>
								<!-- LAYER NR. 5 -->
								<div class="tp-caption button rs-xs-hide tp-resizeme"
									id="slide-13-layer-5"
									data-x="145"
									data-y="410"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1100"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									<a href="#">Purchase Theme</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
	
			<div class="page_content_wrap page_paddings_no">
				<div class="">
					<div class="content">
						<article class="post_item post_item_single page type-page">
							<div class="post_content">

								<section class="light_section">
									<div class="container">
										<div class="content_wrap">
											<div class="sc_services_wrap">
												<div class="sc_services sc_services_style_services-3 sc_services_type_icons  responsive_margins aligncenter">
													<h2 class="sc_services_title sc_item_title">About Our Multipurpose Theme</h2>
													<div class="sc_services_descr sc_item_descr">ThemeRex worked out an amazing combination of vast fucntionalilty<br />
													and user's comfort that will definitely impress you!</div>
													<div class="sc_columns columns_wrap">
														<div class="column-1_2 column_padding_bottom">
															<div class="sc_services_item sc_services_item_1 odd first"
																>
																<a href="#">
																	<span class="sc_icon icon-support"></span>
																</a>
																<div class="sc_services_item_content">
																	<h6 class="sc_services_item_title">
																	<a href="#">Quick Support</a>
																	</h6>
																	<div class="sc_services_item_description">
																		<p>We do our best to provide the most reliable support to all our users, ensuring that...</p>
																	</div>
																</div>
															</div>
														</div><div class="column-1_2 column_padding_bottom">
															<div class="sc_services_item sc_services_item_2 even"
																>
																<a href="#">
																	<span class="sc_icon icon-basket38"></span>
																</a>
																<div class="sc_services_item_content">
																	<h6 class="sc_services_item_title">
																	<a href="#">Clean Design</a>
																	</h6>
																	<div class="sc_services_item_description">
																		<p>We&#8217;ve made the Code clean and modern, so that you don&#8217;t have any...</p>
																	</div>
																</div>
															</div>
														</div><div class="column-1_2 column_padding_bottom">
															<div class="sc_services_item sc_services_item_3 odd"
																>
																<a href="#">
																	<span class="sc_icon icon-timer4"></span>
																</a>
																<div class="sc_services_item_content">
																	<h6 class="sc_services_item_title">
																	<a href="#">Incredibly Flexible</a>
																	</h6>
																	<div class="sc_services_item_description">
																		<p>All our themes include advanced options which makes them super flexible for you to...</p>
																	</div>
																</div>
															</div>
														</div><div class="column-1_2 column_padding_bottom">
															<div class="sc_services_item sc_services_item_4 even"
																>
																<a href="#">
																	<span class="sc_icon icon-heart369"></span>
																</a>
																<div class="sc_services_item_content">
																	<h6 class="sc_services_item_title">
																	<a href="#">Retina Ready</a>
																	</h6>
																	<div class="sc_services_item_description">
																		<p>We made sure images on your website would look stunning on any device. Our theme is...</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="image_bg image_bg_6 scheme_dark">
									<div class="container">
										<div class="content_wrap">
											<div class="sc_skills sc_skills_counter responsive_margins" data-type="counter" data-caption="Skills">
												<h6 class="sc_skills_subtitle sc_item_subtitle">what we do</h6>
												<h2 class="sc_skills_title sc_item_title">Some Interesting Facts</h2>
												<div class="columns_wrap sc_skills_columns sc_skills_columns_4">
													<div class="sc_skills_column column-1_4">
														<div class="sc_skills_item sc_skills_style_1 odd first">
															<div class="sc_skills_icon icon-cup69"></div>
															<div class="sc_skills_count">
																<div class="sc_skills_total" data-start="0" data-stop="3562" data-step="36" data-max="3562" data-speed="12" data-duration="1187" data-ed="">0</div>
															</div>
															<div class="sc_skills_info">
																<div class="sc_skills_label" >tickets answered</div>
															</div>
														</div>
													</div><div class="sc_skills_column column-1_4">
														<div class="sc_skills_item sc_skills_style_1 even">
															<div class="sc_skills_icon icon-user15"></div>
															<div class="sc_skills_count">
																<div class="sc_skills_total" data-start="0" data-stop="156" data-step="36" data-max="3562" data-speed="12" data-duration="52" data-ed="">0</div>
															</div>
															<div class="sc_skills_info">
																<div class="sc_skills_label" >Google Fonts</div>
															</div>
														</div>
													</div><div class="sc_skills_column column-1_4">
														<div class="sc_skills_item sc_skills_style_1 odd">
															<div class="sc_skills_icon icon-email129"></div>
															<div class="sc_skills_count">
																<div class="sc_skills_total" data-start="0" data-stop="699" data-step="36" data-max="3562" data-speed="31" data-duration="602" data-ed="">0</div>
															</div>
															<div class="sc_skills_info">
																<div class="sc_skills_label" >Features Added</div>
															</div>
														</div>
													</div><div class="sc_skills_column column-1_4">
														<div class="sc_skills_item sc_skills_style_1 even">
															<div class="sc_skills_icon icon-pie-chart11"></div>
															<div class="sc_skills_count">
																<div class="sc_skills_total" data-start="0" data-stop="4573" data-step="46" data-max="4573" data-speed="11" data-duration="1094" data-ed="">0</div>
															</div>
															<div class="sc_skills_info">
																<div class="sc_skills_label" >tickets answered</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>


								<section class="light_section">
									<div class="container">
										<div class="content_wrap">
											<div class="columns_wrap sc_columns columns_nofluid sc_column_item_with_margin sc_columns_count_3 responsive_margins">
												<div class="column-1_3 sc_column_item sc_column_item_1 odd first">
													<h3 class="sc_title margin_bottom_40">Our Services</h3>
													<div class="margin_bottom_20">
														<p>ThemeRex is doing their best to grant each owner of their themes with maximum opportunities to present their individuality and show their achievements.</p>
													</div>
													<ul class="sc_list sc_list_style_ul">
														<li class="sc_list_item odd first">Advanced Options and Extensive Documentation</li>
														<li class="sc_list_item even">Full Shop Functionality</li>
														<li class="sc_list_item odd">Visual Composer and Shortcode Builder</li>
													</ul>
													<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Learn More</a>
												</div><div class="column-1_3 sc_column_item sc_column_item_2 even">
													<h3 class="sc_title margin_bottom_40">Our Skills</h3>
													<div class="margin_bottom_20">
														<p>Using their rich experience, world&#8217;s innovations and their own web solutions the ThemeRex team creates templates that will solve your business&#8217;s tasks at maximum degree.</p>
													</div>
													<div class="sc_skills sc_skills_bar sc_skills_horizontal" data-type="bar" data-caption="Skills" data-dir="horizontal">
														<div class="sc_skills_info">
															<div class="sc_skills_label" >creative design</div>
														</div>
														<div class="sc_skills_item sc_skills_style_1 odd first">
															<div class="sc_skills_count sc_skills_count_style_2">
																<div class="sc_skills_total" data-start="0" data-stop="75" data-step="1" data-max="100" data-speed="25" data-duration="1875" data-ed="">0</div>
															</div>
														</div>
														<div class="sc_skills_info">
															<div class="sc_skills_label" >Branding</div>
														</div>
														<div class="sc_skills_item sc_skills_style_1 even">
															<div class="sc_skills_count sc_skills_count_style_2">
																<div class="sc_skills_total" data-start="0" data-stop="85" data-step="1" data-max="100" data-speed="16" data-duration="1360" data-ed="">0</div>
															</div>
														</div>
														<div class="sc_skills_info">
															<div class="sc_skills_label" >Marketing</div>
														</div>
														<div class="sc_skills_item sc_skills_style_1 odd">
															<div class="sc_skills_count sc_skills_count_style_2">
																<div class="sc_skills_total" data-start="0" data-stop="80" data-step="1" data-max="100" data-speed="15" data-duration="1200" data-ed="">0</div>
															</div>
														</div>
													</div>
												</div><div class="column-1_3 sc_column_item sc_column_item_3 odd">
													<h3 class="sc_title margin_bottom_40">Why Choose Us</h3>
													<div class="sc_accordion sc_accordion_style_1" data-active="0">
														<div class="sc_accordion_item odd first">
															<h6 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-angle-down-circle"></span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-angle-up-circle"></span>
																With Love to Customers
															</h6>
															<div class="sc_accordion_content">
																<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
															</div>
														</div>
														<div class="sc_accordion_item even">
															<h6 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-angle-down-circle"></span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-angle-up-circle"></span>
																Trusted Expert Support
															</h6>
															<div class="sc_accordion_content">
																<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
															</div>
														</div>
														<div class="sc_accordion_item odd">
															<h6 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-angle-down-circle"></span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-angle-up-circle"></span>
																Reliability and Prestige
															</h6>
															<div class="sc_accordion_content">
																<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="grey_section">
									<div class="container">
										<div class="content_wrap">
											<div class="sc_testimonials sc_testimonials_style_testimonials-4 sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_controls sc_slider_controls_bottom sc_slider_height_auto responsive_margins" data-interval="6618" data-slides-per-view="3" data-slides-space="30">
												<h2 class="sc_testimonials_title sc_item_title">Testimonials</h2>
												<div class="slides swiper-wrapper">
													<div class="swiper-slide">
														<div class="sc_testimonial_item">
															<div class="sc_testimonial_avatar">
																<img alt="Duis aute irure&#8230;" src="images/75x75.png">
															</div>
															<div class="sc_testimonial_content">Thousands of people choose this company. I was sure who to choose! Thank you for your support and regular...</div>
															<div class="sc_testimonial_author">
																<span class="sc_testimonial_author_name">Martin Moore</span>
																<span class="sc_testimonial_author_position">Photographer</span>
															</div>
														</div>
													</div>
													<div class="swiper-slide">
														<div class="sc_testimonial_item">
															<div class="sc_testimonial_avatar">
																<img alt="Ut enim ad minim&#8230;" src="images/75x75.png">
															</div>
															<div class="sc_testimonial_content">I totally love the theme. It makes my job so much easier, and the visitors appreciate the design.</div>
															<div class="sc_testimonial_author">
																<span class="sc_testimonial_author_name">Lisa Kudrow</span>
																<span class="sc_testimonial_author_position">Manager</span>
															</div>
														</div>
													</div>
													<div class="swiper-slide">
														<div class="sc_testimonial_item">
															<div class="sc_testimonial_avatar">
																<img alt="Lorem ipsum dolor&#8230;" src="images/75x75.png">
															</div>
															<div class="sc_testimonial_content">This is my first theme I bought on Themeforest and I totalle love it... thanks for all your support...</div>
															<div class="sc_testimonial_author">
																<span class="sc_testimonial_author_name">Mark Chapman</span>
																<span class="sc_testimonial_author_position">Programmer</span>
															</div>
														</div>
													</div>
													<div class="swiper-slide">
														<div class="sc_testimonial_item">
															<div class="sc_testimonial_avatar">
																<img alt="Perfect theme, Perfect&#8230;" src="images/75x75.png">
															</div>
															<div class="sc_testimonial_content">Perfect theme, Perfect Support. I recommend this Seller and the theme. Stunning template, very well...</div>
															<div class="sc_testimonial_author">
																<span class="sc_testimonial_author_name">Paula Knight</span>
																<span class="sc_testimonial_author_position">developer</span>
															</div>
														</div>
													</div>
													<div class="swiper-slide">
														<div class="sc_testimonial_item">
															<div class="sc_testimonial_avatar">
																<img alt="Best theme, best&#8230;" src="images/75x75.png">
															</div>
															<div class="sc_testimonial_content">Best theme, best documentation. Works like a charm. And they are relying on their own code, not asking you...</div>
															<div class="sc_testimonial_author">
																<span class="sc_testimonial_author_name">Andrea Hunter</span>
																<span class="sc_testimonial_author_position">manager</span>
															</div>
														</div>
													</div>
													<div class="swiper-slide">
														<div class="sc_testimonial_item">
															<div class="sc_testimonial_avatar">
																<img alt="This is my first theme&#8230;" src="images/75x75.png">
															</div>
															<div class="sc_testimonial_content">This is my first theme and I love it.. thanks for all your support, ThemeREX. Keep going with your perfect...</div>
															<div class="sc_testimonial_author">
																<span class="sc_testimonial_author_name">Heather Ortiz</span>
																<span class="sc_testimonial_author_position">photographer</span>
															</div>
														</div>
													</div>
												</div>
												<div class="sc_slider_controls_wrap">
													<a class="sc_slider_prev" href="#"></a>
													<a class="sc_slider_next" href="#"></a>
												</div>
												<div class="sc_slider_pagination_wrap"></div>
											</div>
										</div>
									</div>
								</section>

								<section class="light_section">
									<div class="container">
										<div class="content_wrap">
											<div class="sc_blogger layout_masonry_3 template_masonry responsive_margins  sc_blogger_horizontal no_description">
												<h2 class="sc_blogger_title sc_item_title">From the Blog</h2>
												<div class="isotope_wrap mobile_tap_hover" data-columns="3">
													<div class="isotope_item isotope_item_masonry isotope_item_masonry_3 isotope_column_3">
														<div class="post_item post_item_masonry post_item_masonry_3 post_format_standard odd">
															<div class="post_featured">
																<div class="post_thumb" data-image="images/1000x634.png" data-title="The Ultimate Cheat Sheet On Devices">
																	<a class="hover_icon hover_icon_link taphover" href="#">
																		<img alt="The Ultimate Cheat Sheet On Devices" src="images/390x247.png">
																	</a>
																</div>
															</div>
															<div class="post_content isotope_item_content">
																<div class="post_info">
																	<div class="post_info_item post_info_posted">August 05, 2015 12:10 pm</div>
																</div>
																<h4 class="post_title">
																<a href="#">The Ultimate Cheat Sheet On Devices</a>
																</h4>
																<div class="post_descr">
																	<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste...</p>
																	<a href="#" class="post_readmore">
																		<span class="post_readmore_label">Read more</span>
																	</a>
																</div>
															</div>
														</div>
													</div>
													<div class="isotope_item isotope_item_masonry isotope_item_masonry_3 isotope_column_3">
														<div class="post_item post_item_masonry post_item_masonry_3 post_format_standard even">
															<div class="post_featured">
																<div class="post_thumb" data-image="images/1000x634.png" data-title="10 Ways to Tell You&#8217;re An Evolved Person">
																	<a class="hover_icon hover_icon_link taphover" href="#">
																		<img alt="10 Ways to Tell You&#8217;re An Evolved Person" src="images/390x247.png">
																	</a>
																</div>
															</div>
															<div class="post_content isotope_item_content">
																<div class="post_info">
																	<div class="post_info_item post_info_posted">August 05, 2015 12:10 pm</div>
																</div>
																<h4 class="post_title">
																<a href="#">10 Ways to Tell You&#8217;re An Evolved Person</a>
																</h4>
																<div class="post_descr">
																	<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste...</p>
																	<a href="#" class="post_readmore">
																		<span class="post_readmore_label">Read more</span>
																	</a>
																</div>
															</div>
														</div>
													</div>
													<div class="isotope_item isotope_item_masonry isotope_item_masonry_3 isotope_column_3">
														<div class="post_item post_item_masonry post_item_masonry_3 post_format_standard odd last">
															<div class="post_featured">
																<div class="post_thumb" data-image="images/1000x634.png" data-title="Experimenting With Anatomy Illustrations">
																	<a class="hover_icon hover_icon_link taphover" href="#">
																		<img alt="Experimenting With Anatomy Illustrations" src="images/390x247.png">
																	</a>
																</div>
															</div>
															<div class="post_content isotope_item_content">
																<div class="post_info">
																	<div class="post_info_item post_info_posted">August 05, 2015 11:02 am</div>
																</div>
																<h4 class="post_title">
																<a href="#">Experimenting With Anatomy Illustrations</a>
																</h4>
																<div class="post_descr">
																	<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste...</p>
																	<a href="#" class="post_readmore">
																		<span class="post_readmore_label">Read more</span>
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="sc_blogger_button sc_item_button">
													<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small  sc_button_iconed icon-right">Learn More</a>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="grey_section">
									<div class="container">
										<div class="content_wrap">
											<div class="sc_form_wrap">
												<div class="sc_form sc_form_style_form_2 contact_form_1 responsive_margins">
													<h2 class="sc_form_title sc_item_title">How to Find Us</h2>
													<div class="sc_form_descr sc_item_descr">We would love to hear from our customers! Simply fill out all<br />
														the necessary fields and we'll get back to your shortly!<br />
													</div>		
													<div class="sc_columns columns_wrap">
														<div class="sc_form_address column-1_3">
															<div class="sc_form_address_field">
																<span class="sc_form_address_label">Address</span>
																<span class="sc_form_address_data">123, New Lenox, Chicago, IL 60606</span>
															</div>
															<div class="sc_form_address_field">
																<span class="sc_form_address_label">We are open</span>
																<span class="sc_form_address_data">Open hours: 8.00-18.00 Mon-Sat</span>
															</div>
															<div class="sc_form_address_field">
																<span class="sc_form_address_label">Phone</span>
																<span class="sc_form_address_data">123-456-7890, 098-765-4321</span>
															</div>
															<div class="sc_form_address_field">
																<span class="sc_form_address_label">E-mail</span>
																<span class="sc_form_address_data">
																	<span>info@example.com</span>
																</span>
															</div>
															<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
																<div class="sc_socials_item">
																	<a href="#" target="_blank" class="social_icons social_facebook">
																		<span class="icon-facebook"></span>
																	</a>
																</div>
																<div class="sc_socials_item">
																	<a href="#" target="_blank" class="social_icons social_gplus">
																		<span class="icon-gplus"></span>
																	</a>
																</div>
																<div class="sc_socials_item">
																	<a href="#" target="_blank" class="social_icons social_twitter">
																		<span class="icon-twitter"></span>
																	</a>
																</div>
																<div class="sc_socials_item">
																	<a href="#" target="_blank" class="social_icons social_behance">
																		<span class="icon-behance"></span>
																	</a>
																</div>
															</div>
														</div><div class="column-2_3">
															<div class="sc_contact_form sc_form_fields">
															    <form class="contact_1" method="post" action="include/contact-form.php">
															        <div class="sc_form_info">
																		<div class="sc_form_item sc_form_field label_over">
															                <input type="text" name="name" id="contact_form_username" placeholder="Name *">
															            </div>
															            <div class="sc_form_item sc_form_field label_over">
															                <input type="text" name="email" id="contact_form_email" placeholder="Email *">
															            </div>
															            <div class="sc_form_item sc_form_field label_over">
															                <input type="text" name="subject" id="contact_form_subj" placeholder="Subject *">
															            </div>
															        </div>
																	<div class="sc_form_item sc_form_message label_over">
														                <textarea  id="contact_form_message" class="textAreaSize" name="message" placeholder="Message"></textarea>
														            </div>
																	<div class="sc_form_item sc_form_button">
																		<button type="submit" name="contact_submit" class="contact_form_submit">Send Message</button>
																	</div>
															        <div class="result sc_infobox"></div>
															    </form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

							</div>
						</article>
					</div>
				</div>
			</div>

			<div class="copyright_wrap copyright_style_text scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="copyright_text">
							<p>
								ThemeREX © 2015 All Rights Reserved
								<a href="#">Terms of Use</a>
								and
								<a href="#">Privacy Policy</a>
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<a href="#" class="scroll_to_top icon-angle-up" title=""></a>

	<script type='text/javascript' src='js/vendor/jquery-1.11.3.min.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/__packed.js'></script>

	<script type='text/javascript' src='js/vendor/revslider/public/assets/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='js/vendor/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>
	<script type="text/javascript" src="js/vendor/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="js/vendor/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="js/vendor/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js"></script>

	<script type='text/javascript' src='js/custom/core.utils.min.js'></script>
	<script type='text/javascript' src='js/custom/core.init.min.js'></script>
	<script type='text/javascript' src='js/custom/shortcodes.min.js'></script>
	<script type='text/javascript' src='js/custom/_form_contact.js'></script>
	<script type='text/javascript' src='js/custom/_main.js'></script>

</body>
</html>