<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
	<title>Event Management</title>
	<link rel='stylesheet' href='css/core.portfolio.css' type='text/css' media='all' />
	<link rel='stylesheet' href='js/vendor/essential-grid/public/assets/css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' href='js/vendor/revslider/public/assets/css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/woo/woo-style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
	<style id='themerex-custom-style-inline-css' type='text/css'></style>
	<link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />

</head>

<body class="page body_style_wide body_filled article_style_stretch top_panel_show top_panel_over sidebar_hide sidebar_outer_hide">

	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>

			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle" >
						<div class="content_wrap">
							<div class="columns_wrap columns_fluid">
								<div class="column-1_3 contact_logo">
									<div class="logo">
										<a href="index.html">
											<img src="images/135x30.png" class="logo_main" alt="">
											<img src="images/135x30.png" class="logo_fixed" alt="">
											<br>
											<div class="logo_slogan"></div>
										</a>
									</div>
								</div><div class="column-2_3 menu_main_wrap">
									<a href="#" class="menu_main_responsive_button icon-menu"></a>
									<nav class="menu_main_nav_area">
										<ul id="menu_main" class="menu_main_nav">
											<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
												<a>Home Page</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="index.html">Home Default</a>
													</li>
													<li class="menu-item">
														<a href="index-landing.html">Home Landing</a>
													</li>
													<li class="menu-item">
														<a href="index-single-page.html">Home Single Page</a>
													</li>
													<li class="menu-item">
														<a href="index-portfolio.html">Home Portfolio</a>
													</li>
													<li class="menu-item">
														<a href="index-presentation.html">Home Presentation</a>
													</li>
													<li class="menu-item">
														<a href="index-boxed.html">Home Boxed</a>
													</li>
													<li class="menu-item current-menu-item current_page_item">
														<a href="index-minimalistic.html">Home Minimalistic</a>
													</li>
													<li class="menu-item">
														<a href="index-creative.html">Home Creative</a>
													</li>
													<li class="menu-item">
														<a href="index-shop.html">Home Shop</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Pages</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="pages-about-us.html">About</a>
													</li>
													<li class="menu-item">
														<a href="pages-services.html">Services</a>
													</li>
													<li class="menu-item">
														<a href="pages-team.html">Team</a>
													</li>
													<li class="menu-item">
														<a href="pages-team-member.html">Team Member</a>
													</li>
													<li class="menu-item">
														<a href="pages-404.html">404 Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-maintenance.html">Maintenance Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-coming-soon.html">Coming Soon Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-contact-us.html">Contact Us Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-pricing-table.html">Pricing</a>
													</li>
													<li class="menu-item">
														<a href="pages-faq-page.html">Faq</a>
													</li>
													<li class="menu-item">
														<a href="pages-events.html">Events</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Community</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="pages-community-activity.html">Activity</a>
															</li>
															<li class="menu-item">
																<a href="pages-community-members.html">Members</a>
															</li>
															<li class="menu-item">
																<a href="pages-community-groups.html">Groups</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Features</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="features-typography.html">Typography</a>
													</li>
													<li class="menu-item">
														<a href="features-shortcodes.html">Shortcodes</a>
													</li>
													<li class="menu-item">
														<a href="features-support.html">Support</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Portfolio</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="portfolio-polaroid-gallery.html">Polaroid Gallery</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Portfolio</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-portfolio-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-portfolio-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Grid</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-grid-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-grid-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Square</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-square-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-square-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Colored</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-colored-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-colored-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a href="#">Blog</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="blog-standard.html">Standard</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a href="#">Masonry</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="blog-masonry-2-columns.html">Masonry 2 columns</a>
															</li>
															<li class="menu-item">
																<a href="blog-masonry-3-columns.html">Masonry 3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a href="#">Portfolio</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="blog-portfolio-2-columns.html">Portfolio 2 columns</a>
															</li>
															<li class="menu-item">
																<a href="blog-portfolio-3-columns.html">Portfolio 3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item">
														<a href="blog-post-formats.html">Post Formats</a>
													</li>
												</ul>
											</li>
											<li class="menu-item">
												<a href="shop.html">Shop</a>
											</li>
										</ul>
									</nav>
									<div class="menu_main_cart top_panel_icon">
										<a href="#" class="top_panel_cart_button" data-items="0" data-summa="&#036;0.00">
											<span class="contact_icon icon-basket38"></span>
											<span class="contact_label contact_cart_label">Your cart:</span>
											<span class="contact_cart_totals">
												<span class="cart_items">Items 0 </span>
												-
												<span class="cart_summa">&#36;0.00</span>
											</span>
										</a>
										<ul class="widget_area sidebar_cart sidebar">
											<li>
												<div class="widget woocommerce widget_shopping_cart">
													<div class="hide_cart_widget_if_empty">
														<div class="widget_shopping_cart_content">
															<ul class="cart_list product_list_widget ">
																<li class="empty">No products in the cart.</li>
															</ul><!-- end product list -->
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="search_wrap search_style_regular search_state_closed top_panel_icon">
										<div class="search_form_wrap">
											<form method="get" class="search_form" action="#">
												<button type="submit" class="search_submit icon-search-light" title="Open search"></button>
												<input type="text" class="search_field" placeholder="Search" value="" name="s" />
											</form>
										</div>
										<div class="search_results widget_area scheme_original">
											<a class="search_results_close">×</a>
											<div class="search_results_content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<section id="mainslider_4" class="slider_wrap slider_fullscreen slider_engine_revo slider_alias_home-minimalistic mainslider_4">
				<div id="rev_slider_4_1" class="rev_slider fullwidthabanner" data-version="5.0.5">
					<ul>	<!-- SLIDE  -->
						<li data-index="rs-14" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
							<!-- MAIN IMAGE -->
							<img src="http://ester-html.themerex.net/js/vendor/revslider/admin/assets/images/transparent.png" alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption   tp-resizeme"
								id="slide-14-layer-1"
								data-x="-104"
								data-y="180"
								data-width="['none','none','none','none']"
								data-height="['none','none','none','none']"
								data-transform_idle="o:1;"
								data-transform_in="opacity:0;s:300;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="0"
								data-responsive_offset="on"
								>
								<img src="http://placehold.it/870x1024" alt="" width="870" height="1014" data-no-retina>
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption blue-12   tp-resizeme"
								id="slide-14-layer-2"
								data-x="826"
								data-y="255"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="y:-50px;opacity:0;s:500;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="300"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								welcome to our new
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption black-65   tp-resizeme"
								id="slide-14-layer-3"
								data-x="720"
								data-y="285"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:600;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="550"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								Intelligent & <br>
								Bright Theme
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption black-20 rs-xs-hide tp-resizeme"
								id="slide-14-layer-4"
								data-x="677"
								data-y="476"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="850"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								Lorem ipsum dolor sit amet, consectetur adipisicing <br>
								elit, sed do eiusmod tempor
							</div>
							<!-- LAYER NR. 5 -->
							<div class="tp-caption button rs-xs-hide tp-resizeme"
								id="slide-14-layer-5"
								data-x="818"
								data-y="588"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="1100"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								<a href="#">Purchase Theme</a>
							</div>
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-16" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
							<!-- MAIN IMAGE -->
							<img src="http://ester-html.themerex.net/js/vendor/revslider/admin/assets/images/transparent.png" alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption rs-xs-display tp-resizeme"
								id="slide-16-layer-1"
								data-x="center" data-hoffset=""
								data-y="center" data-voffset=""
								data-width="['none','none','none','none']"
								data-height="['none','none','none','none']"
								data-transform_idle="o:1;"
								
								data-transform_in="y:50px;opacity:0;s:300;e:Power3.easeInOut;"
								data-transform_out="auto:auto;s:300;"
								data-start="0"
								data-responsive_offset="on"
								data-captionhidden="on"
								>
								<img src="http://placehold.it/5760x3840" alt="" width="5760" height="3840" data-ww="2300" data-hh="1533" data-no-retina>
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption blue-12   tp-resizeme"
								id="slide-16-layer-2"
								data-x="center" data-hoffset=""
								data-y="center" data-voffset="-169"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="y:-50px;opacity:0;s:500;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="700"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								welcome to our new
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption black-65   tp-resizeme"
								id="slide-16-layer-3"
								data-x="center" data-hoffset=""
								data-y="center" data-voffset="-73"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:600;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="950"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								Intelligent & <br>
								Bright Theme
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption black-20 rs-xs-hide tp-resizeme"
								id="slide-16-layer-4"
								data-x="center" data-hoffset=""
								data-y="center" data-voffset="72"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="1250"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								Lorem ipsum dolor sit amet, consectetur adipisicing <br>
								elit, sed do eiusmod tempor
							</div>
							<!-- LAYER NR. 5 -->
							<div class="tp-caption button rs-xs-hide tp-resizeme"
								id="slide-16-layer-5"
								data-x="center" data-hoffset=""
								data-y="center" data-voffset="169"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								<a href="#">Purchase Theme</a>
							</div>
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-17" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
							<!-- MAIN IMAGE -->
							<img src="http://ester-html.themerex.net/js/vendor/revslider/admin/assets/images/transparent.png" alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption   tp-resizeme"
								id="slide-17-layer-1"
								data-x="center" data-hoffset="422"
								data-y="bottom" data-voffset="-7"
								data-width="['none','none','none','none']"
								data-height="['none','none','none','none']"
								data-transform_idle="o:1;"
								data-transform_in="y:50px;opacity:0;s:700;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="0"
								data-responsive_offset="on"
								>
								<img src="http://placehold.it/547x745" alt="" width="547" height="745" data-no-retina>
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption   tp-resizeme"
								id="slide-17-layer-2"
								data-x="center" data-hoffset="126"
								data-y="bottom" data-voffset="-4"
								data-width="['none','none','none','none']"
								data-height="['none','none','none','none']"
								data-transform_idle="o:1;"
								data-transform_in="y:50px;opacity:0;s:700;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="350"
								data-responsive_offset="on"
								>
								<img src="http://placehold.it/249x447" alt="" width="249" height="447" data-no-retina>
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption blue-12   tp-resizeme"
								id="slide-17-layer-3"
								data-x="center" data-hoffset="-340"
								data-y="center" data-voffset="-169"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="y:-50px;opacity:0;s:500;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="700"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								welcome to our new
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption black-65   tp-resizeme"
								id="slide-17-layer-4"
								data-x="center" data-hoffset="-340"
								data-y="center" data-voffset="-73"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:600;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="950"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								Intelligent & <br>
								Bright Theme
							</div>
							<!-- LAYER NR. 5 -->
							<div class="tp-caption black-20 rs-xs-hide tp-resizeme"
								id="slide-17-layer-5"
								data-x="center" data-hoffset="-340"
								data-y="center" data-voffset="72"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="1250"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								Lorem ipsum dolor sit amet, consectetur adipisicing <br>
								elit, sed do eiusmod tempor
							</div>
							<!-- LAYER NR. 6 -->
							<div class="tp-caption button rs-xs-hide tp-resizeme"
								id="slide-17-layer-6"
								data-x="center" data-hoffset="-340"
								data-y="center" data-voffset="169"
								data-width="['auto']"
								data-height="['auto']"
								data-transform_idle="o:1;"
								data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
								data-transform_out="auto:auto;s:300;"
								data-start="1500"
								data-splitin="none"
								data-splitout="none"
								data-responsive_offset="on"
								>
								<a href="#">Purchase Theme</a>
							</div>
						</li>
					</ul>
				</div>
			</section>
	
			<div class="page_content_wrap page_paddings_no">
				<div class="">
					<div class="content">
						<article class="post_item post_item_single page type-page">
							<div class="post_content">

								<section class="light_section">
									<div class="container-fluid">
										<article class="myportfolio-container minimal-light" id="esg-grid-1-1-wrap">
											<div id="esg-grid-1-1" class="esg-grid">
												<ul>
													<li class="filterall filter-portfolio eg-washington-wrapper eg-post-id-547" data-date="1438939331" data-cobblesw="2" data-cobblesh="2">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/960x719.png" alt="">
															</div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-washington-container" data-delay="0"></div>
																<div class="esg-center eg-washington-element-8 esg-none esg-clear"></div>
																<div class="esg-center eg-post-547 eg-washington-element-3 esg-zoomback" data-delay="0.3">25 Great Online Business Ideas</div>
																<div class="esg-center eg-washington-element-9 esg-none esg-clear"></div>
																<div class="esg-center eg-post-547 eg-washington-element-11-a esg-zoomback" data-delay="0.3">
																	<a class="eg-washington-element-11 eg-post-547" href="#">read more</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall filter-portfolio filter-branding filter-fashion eg-washington-wrapper eg-post-id-470" data-date="1438939401" data-cobblesw="2" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/952x709.png" alt="">
															</div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-washington-container" data-delay="0"></div>
																<div class="esg-center eg-washington-element-8 esg-none esg-clear"></div>
																<div class="esg-center eg-post-470 eg-washington-element-3 esg-zoomback" data-delay="0.3">Sales Mistakes to Avoid</div>
																<div class="esg-center eg-washington-element-9 esg-none esg-clear"></div>
																<div class="esg-center eg-post-470 eg-washington-element-11-a esg-zoomback" data-delay="0.3">
																	<a class="eg-washington-element-11 eg-post-470" href="#">read more</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall filter-portfolio filter-art eg-washington-wrapper eg-post-id-473" data-date="1438939440" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/791x749.png" alt="">
															</div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-washington-container" data-delay="0"></div>
																<div class="esg-center eg-washington-element-8 esg-none esg-clear"></div>
																<div class="esg-center eg-post-473 eg-washington-element-3 esg-zoomback" data-delay="0.3">Want to Boost Your Sales?</div>
																<div class="esg-center eg-washington-element-9 esg-none esg-clear"></div>
																<div class="esg-center eg-post-473 eg-washington-element-11-a esg-zoomback" data-delay="0.3">
																	<a class="eg-washington-element-11 eg-post-473" href="#">read more</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall filter-portfolio filter-art filter-design eg-washington-wrapper eg-post-id-467" data-date="1438939545" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/796x1069.png" alt="">
															</div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-washington-container" data-delay="0"></div>
																<div class="esg-center eg-washington-element-8 esg-none esg-clear"></div>
																<div class="esg-center eg-post-467 eg-washington-element-3 esg-zoomback" data-delay="0.3">Ways to Maintain Business Growth</div>
																<div class="esg-center eg-washington-element-9 esg-none esg-clear"></div>
																<div class="esg-center eg-post-467 eg-washington-element-11-a esg-zoomback" data-delay="0.3">
																	<a class="eg-washington-element-11 eg-post-467" href="#">read more</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall filter-portfolio filter-design filter-typography eg-washington-wrapper eg-post-id-458" data-date="1438939590" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/792x564.png" alt="">
															</div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-washington-container" data-delay="0"></div>
																<div class="esg-center eg-washington-element-8 esg-none esg-clear"></div>
																<div class="esg-center eg-post-458 eg-washington-element-3 esg-zoomback" data-delay="0.3">How to Fund Your Startup</div>
																<div class="esg-center eg-washington-element-9 esg-none esg-clear"></div>
																<div class="esg-center eg-post-458 eg-washington-element-11-a esg-zoomback" data-delay="0.3">
																	<a class="eg-washington-element-11 eg-post-458" href="#">read more</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall filter-portfolio filter-typography eg-washington-wrapper eg-post-id-464" data-date="1438939631" data-cobblesw="2" data-cobblesh="2">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/787x617.png" alt="">
															</div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-washington-container" data-delay="0"></div>
																<div class="esg-center eg-washington-element-8 esg-none esg-clear"></div>
																<div class="esg-center eg-post-464 eg-washington-element-3 esg-zoomback" data-delay="0.3">5 Inspiring Leadership Quotes</div>
																<div class="esg-center eg-washington-element-9 esg-none esg-clear"></div>
																<div class="esg-center eg-post-464 eg-washington-element-11-a esg-zoomback" data-delay="0.3">
																	<a class="eg-washington-element-11 eg-post-464" href="#">read more</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall filter-portfolio filter-branding filter-fashion eg-washington-wrapper eg-post-id-461" data-date="1438939695" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/791x621.png" alt="">
															</div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-washington-container" data-delay="0"></div>
																<div class="esg-center eg-washington-element-8 esg-none esg-clear"></div>
																<div class="esg-center eg-post-461 eg-washington-element-3 esg-zoomback" data-delay="0.3">Ways to Motivate Sales Teams</div>
																<div class="esg-center eg-washington-element-9 esg-none esg-clear"></div>
																<div class="esg-center eg-post-461 eg-washington-element-11-a esg-zoomback" data-delay="0.3">
																	<a class="eg-washington-element-11 eg-post-461" href="#">read more</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall filter-portfolio filter-art filter-typography eg-washington-wrapper eg-post-id-455" data-date="1438939799" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/796x871.png" alt="">
															</div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-washington-container" data-delay="0"></div>
																<div class="esg-center eg-washington-element-8 esg-none esg-clear"></div>
																<div class="esg-center eg-post-455 eg-washington-element-3 esg-zoomback" data-delay="0.3">What Customers Want from Social Commerce</div>
																<div class="esg-center eg-washington-element-9 esg-none esg-clear"></div>
																<div class="esg-center eg-post-455 eg-washington-element-11-a esg-zoomback" data-delay="0.3">
																	<a class="eg-washington-element-11 eg-post-455" href="#">read more</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall filter-portfolio filter-branding filter-design eg-washington-wrapper eg-post-id-451" data-date="1438939840" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/787x733.png" alt="">
															</div>
															<div class="esg-entry-cover esg-fade" data-delay="0">
																<div class="esg-overlay esg-fade eg-washington-container" data-delay="0"></div>
																<div class="esg-center eg-washington-element-8 esg-none esg-clear"></div>
																<div class="esg-center eg-post-451 eg-washington-element-3 esg-zoomback" data-delay="0.3">Choosing the Right Email Marketing Software</div>
																<div class="esg-center eg-washington-element-9 esg-none esg-clear"></div>
																<div class="esg-center eg-post-451 eg-washington-element-11-a esg-zoomback" data-delay="0.3">
																	<a class="eg-washington-element-11 eg-post-451" href="#">read more</a>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</article>
									</div>
								</section>

							</div>
						</article>
					</div>
				</div>
			</div>

			<footer class="contacts_wrap scheme_original">
				<div class="contacts_wrap_inner">
					<div class="content_wrap">
						<div class="logo">
							<a href="index.html">
								<img src="images/135x30.png" class="logo_main" alt="">
								<br>
								<div class="logo_slogan"></div>
							</a>
						</div>
						<div class="contacts_address">
							<address class="address_right">
								Phone: 123-456-7890<br>
								Fax: 098-765-4321
							</address>
							<address class="address_left">
								Chicago, IL 60606<br>
								123, New Lenox
							</address>
						</div>
						<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_square sc_socials_size_medium">
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_facebook">
									<span class="icon-facebook"> </span>
								</a>
							</div>
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_gplus">
									<span class="icon-gplus"> </span>
								</a>
							</div>
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_twitter">
									<span class="icon-twitter"> </span>
								</a>
							</div>
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_behance">
									<span class="icon-behance"> </span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</footer>

			<div class="copyright_wrap copyright_style_text scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="copyright_text">
							<p>
								ThemeREX © 2015 All Rights Reserved
								<a href="#">Terms of Use</a>
								and
								<a href="#">Privacy Policy</a>
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<a href="#" class="scroll_to_top icon-angle-up" title=""></a>

	<script type='text/javascript' src='js/vendor/jquery-1.11.3.min.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/__packed.js'></script>

	<script type='text/javascript' src='js/vendor/revslider/public/assets/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='js/vendor/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>
	<script type="text/javascript" src="js/vendor/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="js/vendor/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="js/vendor/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type='text/javascript' src='js/vendor/essential-grid/public/assets/js/lightbox.js'></script>
	<script type='text/javascript' src='js/vendor/essential-grid/public/assets/js/jquery.themepunch.essential.min.js'></script>

	<script type='text/javascript' src='js/custom/core.utils.min.js'></script>
	<script type='text/javascript' src='js/custom/core.init.min.js'></script>
	<script type='text/javascript' src='js/custom/shortcodes.min.js'></script>
	<script type='text/javascript' src='js/custom/_main.js'></script>

</body>
</html>