<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
	<title>Event Management</title>
	<link rel='stylesheet' href='css/core.portfolio.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/woo/woo-style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
	<style id='themerex-custom-style-inline-css' type='text/css'></style>
	<link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />

</head>

<body class="page body_style_wide body_filled article_style_stretch sidebar_hide sidebar_outer_show sidebar_outer_left">

	<div class="outer_wrap">
		<div class="sidebar_outer widget_area scheme_dark">
			<div class="sidebar_outer_inner widget_area_inner">
				<div class="sidebar_outer_logo_wrap">
					<div class="sidebar_outer_logo">
						<div class="logo">
							<a href="index.html">
								<img src="images/135x30.png" class="logo_main" alt="">
								<br>
								<div class="logo_slogan">
								</div>
							</a>
						</div>
					</div>
					<div class="sidebar_outer_socials">
						<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_facebook">
									<span class="icon-facebook"></span>
								</a>
							</div>
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_gplus">
									<span class="icon-gplus"></span>
								</a>
							</div>
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_twitter">
									<span class="icon-twitter"></span>
								</a>
							</div>
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_behance">
									<span class="icon-behance"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar_outer_menu">
					<ul id="menu_side" class="menu_side_nav">
						<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
							<a>Home Page</a>
							<ul class="sub-menu">
								<li class="menu-item">
									<a href="index.html">Home Default</a>
								</li>
								<li class="menu-item">
									<a href="index-landing.html">Home Landing</a>
								</li>
								<li class="menu-item">
									<a href="index-single-page.html">Home Single Page</a>
								</li>
								<li class="menu-item current-menu-item current_page_item">
									<a href="index-portfolio.html">Home Portfolio</a>
								</li>
								<li class="menu-item">
									<a href="index-presentation.html">Home Presentation</a>
								</li>
								<li class="menu-item">
									<a href="index-boxed.html">Home Boxed</a>
								</li>
								<li class="menu-item">
									<a href="index-minimalistic.html">Home Minimalistic</a>
								</li>
								<li class="menu-item">
									<a href="index-creative.html">Home Creative</a>
								</li>
								<li class="menu-item">
									<a href="index-shop.html">Home Shop</a>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-has-children">
							<a>Pages</a>
							<ul class="sub-menu">
								<li class="menu-item">
									<a href="pages-about-us.html">About</a>
								</li>
								<li class="menu-item">
									<a href="pages-services.html">Services</a>
								</li>
								<li class="menu-item">
									<a href="pages-team.html">Team</a>
								</li>
								<li class="menu-item">
									<a href="pages-team-member.html">Team Member</a>
								</li>
								<li class="menu-item">
									<a href="pages-404.html">404 Page</a>
								</li>
								<li class="menu-item">
									<a href="pages-maintenance.html">Maintenance Page</a>
								</li>
								<li class="menu-item">
									<a href="pages-coming-soon.html">Coming Soon Page</a>
								</li>
								<li class="menu-item">
									<a href="pages-contact-us.html">Contact Us Page</a>
								</li>
								<li class="menu-item">
									<a href="pages-pricing-table.html">Pricing</a>
								</li>
								<li class="menu-item">
									<a href="pages-faq-page.html">Faq</a>
								</li>
								<li class="menu-item">
									<a href="pages-events.html">Events</a>
								</li>
								<li class="menu-item menu-item-has-children">
									<a>Community</a>
									<ul class="sub-menu">
										<li class="menu-item">
											<a href="pages-community-activity.html">Activity</a>
										</li>
										<li class="menu-item">
											<a href="pages-community-members.html">Members</a>
										</li>
										<li class="menu-item">
											<a href="pages-community-groups.html">Groups</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-has-children">
							<a>Features</a>
							<ul class="sub-menu">
								<li class="menu-item">
									<a href="features-typography.html">Typography</a>
								</li>
								<li class="menu-item">
									<a href="features-shortcodes.html">Shortcodes</a>
								</li>
								<li class="menu-item">
									<a href="features-support.html">Support</a>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-has-children">
							<a>Portfolio</a>
							<ul class="sub-menu">
								<li class="menu-item">
									<a href="portfolio-polaroid-gallery.html">Polaroid Gallery</a>
								</li>
								<li class="menu-item menu-item-has-children">
									<a>Portfolio</a>
									<ul class="sub-menu">
										<li class="menu-item">
											<a href="portfolio-portfolio-2-columns-sidebar.html">2 columns + sidebar</a>
										</li>
										<li class="menu-item">
											<a href="portfolio-portfolio-3-columns.html">3 columns</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children">
									<a>Grid</a>
									<ul class="sub-menu">
										<li class="menu-item">
											<a href="portfolio-grid-2-columns-sidebar.html">2 columns + sidebar</a>
										</li>
										<li class="menu-item">
											<a href="portfolio-grid-3-columns.html">3 columns</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children">
									<a>Square</a>
									<ul class="sub-menu">
										<li class="menu-item">
											<a href="portfolio-square-2-columns-sidebar.html">2 columns + sidebar</a>
										</li>
										<li class="menu-item">
											<a href="portfolio-square-3-columns.html">3 columns</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children">
									<a>Colored</a>
									<ul class="sub-menu">
										<li class="menu-item">
											<a href="portfolio-colored-2-columns-sidebar.html">2 columns + sidebar</a>
										</li>
										<li class="menu-item">
											<a href="portfolio-colored-3-columns.html">3 columns</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-has-children">
							<a href="#">Blog</a>
							<ul class="sub-menu">
								<li class="menu-item">
									<a href="blog-standard.html">Standard</a>
								</li>
								<li class="menu-item menu-item-has-children">
									<a href="#">Masonry</a>
									<ul class="sub-menu">
										<li class="menu-item">
											<a href="blog-masonry-2-columns.html">Masonry 2 columns</a>
										</li>
										<li class="menu-item">
											<a href="blog-masonry-3-columns.html">Masonry 3 columns</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children">
									<a href="#">Portfolio</a>
									<ul class="sub-menu">
										<li class="menu-item">
											<a href="blog-portfolio-2-columns.html">Portfolio 2 columns</a>
										</li>
										<li class="menu-item">
											<a href="blog-portfolio-3-columns.html">Portfolio 3 columns</a>
										</li>
									</ul>
								</li>
								<li class="menu-item">
									<a href="blog-post-formats.html">Post Formats</a>
								</li>
							</ul>
						</li>
						<li class="menu-item">
							<a href="shop.html">Shop</a>
						</li>
					</ul>
					<span class="sidebar_outer_menu_buttons">
						<a href="#" class="sidebar_outer_menu_responsive_button icon-down">
						</a>
						<a href="#" class="sidebar_outer_widgets_button icon-book-open">
						</a>
					</span>
				</div>
				<div class="sidebar_outer_widgets">
				</div>
			</div>
		</div>

		<div class="body_wrap">
			<div class="page_wrap">
				<div class="page_content_wrap page_paddings_no">
					<div class="content">
						<article class="post_item post_item_single page type-page">
							<div class="post_content">

								<section class="portfolio_section no_padding">
									<div class="container">
										<div id="portfolio_blogger" class="sc_blogger layout_portfolio_2 template_portfolio margin_bottom_m10 sc_blogger_horizontal no_description">
											<div class="isotope_wrap" data-columns="4">
												<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_2 isotope_column_4">
													<div class="post_item post_item_portfolio post_item_portfolio_2 post_format_standard odd">
														<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
															<div class="post_featured img">
																<img alt="Best Business Phone Systems 2015" src="images/870x863.png">
															</div>
															<div class="post_info_wrap info">
																<div class="info-back">
																	<h4 class="post_title">
																	<a href="#">Best Business Phone Systems 2015</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_category">
																		</div>
																	</div>
																</div>
																<div class="post_link">
																	<a href="#">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_2 isotope_column_4">
													<div class="post_item post_item_portfolio post_item_portfolio_2 post_format_standard even">
														<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
															<div class="post_featured taphover img">
																<img alt="Traits of Successful Salespeople" src="images/870x552.png">
															</div>
															<div class="post_info_wrap info">
																<div class="info-back">
																	<h4 class="post_title">
																	<a href="#">Traits of Successful Salespeople</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_category">
																		</div>
																	</div>
																</div>
																<div class="post_link">
																	<a href="#">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_2 isotope_column_4">
													<div class="post_item post_item_portfolio post_item_portfolio_2 post_format_standard odd">
														<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
															<div class="post_featured img">
																<img alt="Choosing the Right Email Marketing Software" src="images/870x810.png">
															</div>
															<div class="post_info_wrap info">
																<div class="info-back">
																	<h4 class="post_title">
																	<a href="#">Choosing the Right Email Marketing Software</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_category">
																		</div>
																	</div>
																</div>
																<div class="post_link">
																	<a href="#">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_2 isotope_column_4">
													<div class="post_item post_item_portfolio post_item_portfolio_2 post_format_standard even">
														<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
															<div class="post_featured img">
																<img alt="What Customers Want from Social Commerce" src="images/870x951.png">
															</div>
															<div class="post_info_wrap info">
																<div class="info-back">
																	<h4 class="post_title">
																	<a href="#">What Customers Want from Social Commerce</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_category">
																		</div>
																	</div>
																</div>
																<div class="post_link">
																	<a href="#">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_2 isotope_column_4">
													<div class="post_item post_item_portfolio post_item_portfolio_2 post_format_standard odd">
														<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
															<div class="post_featured img">
																<img alt="Ways to Motivate Sales Teams" src="images/870x683.png">
															</div>
															<div class="post_info_wrap info">
																<div class="info-back">
																	<h4 class="post_title">
																	<a href="#">Ways to Motivate Sales Teams</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_category">
																		</div>
																	</div>
																</div>
																<div class="post_link">
																	<a href="#">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_2 isotope_column_4">
													<div class="post_item post_item_portfolio post_item_portfolio_2 post_format_standard even">
														<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
															<div class="post_featured img">
																<img alt="5 Inspiring Leadership Quotes" src="images/870x682.png">
															</div>
															<div class="post_info_wrap info">
																<div class="info-back">
																	<h4 class="post_title">
																	<a href="#">5 Inspiring Leadership Quotes</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_category">
																		</div>
																	</div>
																</div>
																<div class="post_link">
																	<a href="#">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_2 isotope_column_4">
													<div class="post_item post_item_portfolio post_item_portfolio_2 post_format_standard odd">
														<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
															<div class="post_featured img">
																<img alt="How to Fund Your Startup" src="images/870x619.png">
															</div>
															<div class="post_info_wrap info">
																<div class="info-back">
																	<h4 class="post_title">
																	<a href="#">How to Fund Your Startup</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_category">
																		</div>
																	</div>
																</div>
																<div class="post_link">
																	<a href="#">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_2 isotope_column_4">
													<div class="post_item post_item_portfolio post_item_portfolio_2 post_format_standard even">
														<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
															<div class="post_featured img">
																<img alt="Ways to Maintain Business Growth" src="images/870x1168.png">
															</div>
															<div class="post_info_wrap info">
																<div class="info-back">
																	<h4 class="post_title">
																	<a href="#">Ways to Maintain Business Growth</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_category">
																		</div>
																	</div>
																</div>
																<div class="post_link">
																	<a href="#">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_2 isotope_column_4">
													<div class="post_item post_item_portfolio post_item_portfolio_2 post_format_standard odd">
														<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
															<div class="post_featured img">
																<img alt="Want to Boost Your Sales?" src="images/870x823.png">
															</div>
															<div class="post_info_wrap info">
																<div class="info-back">
																	<h4 class="post_title">
																	<a href="#">Want to Boost Your Sales?</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_category">
																		</div>
																	</div>
																</div>
																<div class="post_link">
																	<a href="#">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_2 isotope_column_4">
													<div class="post_item post_item_portfolio post_item_portfolio_2 post_format_standard even">
														<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
															<div class="post_featured img">
																<img alt="Sales Mistakes to Avoid" src="images/870x647.png">
															</div>
															<div class="post_info_wrap info">
																<div class="info-back">
																	<h4 class="post_title">
																	<a href="#">Sales Mistakes to Avoid</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_category">
																		</div>
																	</div>
																</div>
																<div class="post_link">
																	<a href="#">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="isotope_item isotope_item_portfolio isotope_item_portfolio_2 isotope_column_4">
													<div class="post_item post_item_portfolio post_item_portfolio_2 post_format_standard odd last">
														<div class="post_content isotope_item_content ih-item colored square effect_dir left_to_right">
															<div class="post_featured img">
																<img alt="25 Great Online Business Ideas" src="images/870x651.png">
															</div>
															<div class="post_info_wrap info">
																<div class="info-back">
																	<h4 class="post_title">
																	<a href="#">25 Great Online Business Ideas</a>
																	</h4>
																	<div class="post_descr">
																		<div class="post_category">
																		</div>
																	</div>
																</div>
																<div class="post_link">
																	<a href="#">
																	</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>

	</div>



	<a href="#" class="scroll_to_top icon-angle-up" title=""></a>

	<script type='text/javascript' src='js/vendor/jquery-1.11.3.min.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/__packed.js'></script>

	<script type='text/javascript' src='js/custom/core.utils.min.js'></script>
	<script type='text/javascript' src='js/custom/core.init.min.js'></script>
	<script type='text/javascript' src='js/custom/shortcodes.min.js'></script>
	<script type='text/javascript' src='js/custom/_main.js'></script>

</body>
</html>