<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
	<title>Event Management</title>
	<link rel='stylesheet' href='js/vendor/revslider/public/assets/css/settings.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/woo/woocommerce-layout.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/woo/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' href='css/woo/woocommerce.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/woo/woo-style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/tribe-style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
	<style id='themerex-custom-style-inline-css' type='text/css'></style>
	<link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
	<link rel='stylesheet' href='js/vendor/mediaelement/css/mediaelementplayer.css' type='text/css' media='all' />

</head>

<body class="page body_style_wide body_filled article_style_stretch top_panel_show top_panel_above sidebar_hide sidebar_outer_hide">
	
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>

			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle" >
						<div class="content_wrap">
							<div class="columns_wrap columns_fluid">
								<div class="column-1_3 contact_logo">
									<div class="logo">
										<a href="index.html">
											<img src="images/135x30.png" class="logo_main" alt="">
											<img src="images/135x30.png" class="logo_fixed" alt="">
											<br>
											<div class="logo_slogan"></div>
										</a>
									</div>
								</div><div class="column-2_3 menu_main_wrap">
									<a href="#" class="menu_main_responsive_button icon-menu"></a>
									<nav class="menu_main_nav_area">
										<ul id="menu_main" class="menu_main_nav">
											<li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
												<a>Home Page</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="index.html">Home Default</a>
													</li>
													<li class="menu-item">
														<a href="index-landing.html">Home Landing</a>
													</li>
													<li class="menu-item">
														<a href="index-single-page.html">Home Single Page</a>
													</li>
													<li class="menu-item">
														<a href="index-portfolio.html">Home Portfolio</a>
													</li>
													<li class="menu-item current-menu-item current_page_item">
														<a href="index-presentation.html">Home Presentation</a>
													</li>
													<li class="menu-item">
														<a href="index-boxed.html">Home Boxed</a>
													</li>
													<li class="menu-item">
														<a href="index-minimalistic.html">Home Minimalistic</a>
													</li>
													<li class="menu-item">
														<a href="index-creative.html">Home Creative</a>
													</li>
													<li class="menu-item">
														<a href="index-shop.html">Home Shop</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Pages</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="pages-about-us.html">About</a>
													</li>
													<li class="menu-item">
														<a href="pages-services.html">Services</a>
													</li>
													<li class="menu-item">
														<a href="pages-team.html">Team</a>
													</li>
													<li class="menu-item">
														<a href="pages-team-member.html">Team Member</a>
													</li>
													<li class="menu-item">
														<a href="pages-404.html">404 Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-maintenance.html">Maintenance Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-coming-soon.html">Coming Soon Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-contact-us.html">Contact Us Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-pricing-table.html">Pricing</a>
													</li>
													<li class="menu-item">
														<a href="pages-faq-page.html">Faq</a>
													</li>
													<li class="menu-item">
														<a href="pages-events.html">Events</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Community</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="pages-community-activity.html">Activity</a>
															</li>
															<li class="menu-item">
																<a href="pages-community-members.html">Members</a>
															</li>
															<li class="menu-item">
																<a href="pages-community-groups.html">Groups</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Features</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="features-typography.html">Typography</a>
													</li>
													<li class="menu-item">
														<a href="features-shortcodes.html">Shortcodes</a>
													</li>
													<li class="menu-item">
														<a href="features-support.html">Support</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Portfolio</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="portfolio-polaroid-gallery.html">Polaroid Gallery</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Portfolio</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-portfolio-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-portfolio-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Grid</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-grid-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-grid-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Square</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-square-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-square-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Colored</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-colored-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-colored-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a href="#">Blog</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="blog-standard.html">Standard</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a href="#">Masonry</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="blog-masonry-2-columns.html">Masonry 2 columns</a>
															</li>
															<li class="menu-item">
																<a href="blog-masonry-3-columns.html">Masonry 3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a href="#">Portfolio</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="blog-portfolio-2-columns.html">Portfolio 2 columns</a>
															</li>
															<li class="menu-item">
																<a href="blog-portfolio-3-columns.html">Portfolio 3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item">
														<a href="blog-post-formats.html">Post Formats</a>
													</li>
												</ul>
											</li>
											<li class="menu-item">
												<a href="shop.html">Shop</a>
											</li>
										</ul>
									</nav>
									<div class="menu_main_cart top_panel_icon">
										<a href="#" class="top_panel_cart_button" data-items="0" data-summa="&#036;0.00">
											<span class="contact_icon icon-basket38"></span>
											<span class="contact_label contact_cart_label">Your cart:</span>
											<span class="contact_cart_totals">
												<span class="cart_items">Items 0 </span>
												-
												<span class="cart_summa">&#36;0.00</span>
											</span>
										</a>
										<ul class="widget_area sidebar_cart sidebar">
											<li>
												<div class="widget woocommerce widget_shopping_cart">
													<div class="hide_cart_widget_if_empty">
														<div class="widget_shopping_cart_content">
															<ul class="cart_list product_list_widget ">
																<li class="empty">No products in the cart.</li>
															</ul><!-- end product list -->
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="search_wrap search_style_regular search_state_closed top_panel_icon">
										<div class="search_form_wrap">
											<form method="get" class="search_form" action="#">
												<button type="submit" class="search_submit icon-search-light" title="Open search"></button>
												<input type="text" class="search_field" placeholder="Search" value="" name="s" />
											</form>
										</div>
										<div class="search_results widget_area scheme_original">
											<a class="search_results_close">×</a>
											<div class="search_results_content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<section id="mainslider_2" class="slider_wrap slider_fullscreen slider_engine_revo slider_alias_home-presentation mainslider_2">
				<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
					<div id="rev_slider_2_1" class="rev_slider fullwidthabanner" data-version="5.0.5">
						<ul>	<!-- SLIDE  -->
							<li data-index="rs-6" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
								<!-- MAIN IMAGE -->
								<img src="http://ester-html.themerex.net/js/vendor/revslider/admin/assets/images/transparent.png"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 -->
								<div class="tp-caption   tp-resizeme"
									id="slide-6-layer-1"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset=""
									data-width="['none','none','none','none']"
									data-height="['none','none','none','none']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="0"
									data-responsive_offset="on"
									>
									<img src="http://placehold.it/1900x1551" alt="" width="1900" height="1551" data-ww="1920px" data-hh="auto" data-no-retina>
								</div>
								<!-- LAYER NR. 2 -->
								<div class="tp-caption   tp-resizeme"
									id="slide-6-layer-2"
									data-x="center" data-hoffset="-400"
									data-y="bottom" data-voffset="-10"
									data-width="['none','none','none','none']"
									data-height="['none','none','none','none']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:700;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="250"
									data-responsive_offset="on"
									>
									<img src="http://placehold.it/492x549" alt="" width="492" height="549" data-no-retina>
								</div>
								<!-- LAYER NR. 3 -->
								<div class="tp-caption   tp-resizeme"
									id="slide-6-layer-3"
									data-x="center" data-hoffset="-113"
									data-y="bottom" data-voffset="-10"
									data-width="['none','none','none','none']"
									data-height="['none','none','none','none']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:700;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="650"
									data-responsive_offset="on"
									>
									<img src="http://placehold.it/195x257" alt="" width="195" height="257" data-no-retina>
								</div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption blue-12   tp-resizeme"
									id="slide-6-layer-4"
									data-x="center" data-hoffset="305"
									data-y="center" data-voffset="-194"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:-50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1000"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									welcome to our new
								</div>
								<!-- LAYER NR. 5 -->
								<div class="tp-caption black-65   tp-resizeme"
									id="slide-6-layer-5"
									data-x="center" data-hoffset="305"
									data-y="center" data-voffset="-100"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:600;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1250"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									Retina Ready<br>
									Responsive Design
								</div>
								<!-- LAYER NR. 6 -->
								<div class="tp-caption black-20 rs-xs-hide tp-resizeme"
									id="slide-6-layer-6"
									data-x="center" data-hoffset="305"
									data-y="center" data-voffset="20"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1600"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									You are totally going to impress your visitors <br>
									with your website’s shiny look
								</div>
								<!-- LAYER NR. 7 -->
								<div class="tp-caption buttonborder rs-xs-hide tp-resizeme"
									id="slide-6-layer-7"
									data-x="center" data-hoffset="223"
									data-y="center" data-voffset="108"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:-50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1850"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									<a href="#">Purchase</a>
								</div>
								<!-- LAYER NR. 8 -->
								<div class="tp-caption button rs-xs-hide tp-resizeme"
									id="slide-6-layer-8"
									data-x="center" data-hoffset="367"
									data-y="center" data-voffset="108"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1850"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									<a href="#">Learn More</a>
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-index="rs-9" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
								<!-- MAIN IMAGE -->
								<img src="http://ester-html.themerex.net/js/vendor/revslider/admin/assets/images/transparent.png"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 -->
								<div class="tp-caption   tp-resizeme"
									id="slide-9-layer-1"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="45"
									data-width="['none','none','none','none']"
									data-height="['none','none','none','none']"
									data-transform_idle="o:1;"
									
									data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
									data-transform_out="auto:auto;s:300;"
									data-start="0"
									data-responsive_offset="on"
									
									>
									<img src="http://placehold.it/1900x1024" alt="" width="1900" height="1024" data-ww="1920px" data-hh="auto" data-no-retina>
								</div>
								<!-- LAYER NR. 2 -->
								<div class="tp-caption blue-12   tp-resizeme"
									id="slide-9-layer-2"
									data-x="504"
									data-y="107"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:-50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="300"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									welcome to our new
								</div>
								<!-- LAYER NR. 3 -->
								<div class="tp-caption black-65   tp-resizeme"
									id="slide-9-layer-3"
									data-x="396"
									data-y="139"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:600;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									Clean Design
								</div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption black-20 rs-xs-hide tp-resizeme"
									id="slide-9-layer-4"
									data-x="400"
									data-y="232"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="850"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									Clean and beauitiful design ensures easy<br>
									creation of any type of website!
								</div>
								<!-- LAYER NR. 5 -->
								<div class="tp-caption buttonborder rs-xs-hide tp-resizeme"
									id="slide-9-layer-5"
									data-x="434"
									data-y="325"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:-50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1100"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									<a href="#">Purchase</a>
								</div>
								<!-- LAYER NR. 6 -->
								<div class="tp-caption button rs-xs-hide tp-resizeme"
									id="slide-9-layer-6"
									data-x="578"
									data-y="325"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1100"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									<a href="#">Learn More</a>
								</div>
							</li>
							<!-- SLIDE  -->
							<li data-index="rs-10" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-description="">
								<!-- MAIN IMAGE -->
								<img src="http://ester-html.themerex.net/js/vendor/revslider/admin/assets/images/transparent.png"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->
								<!-- LAYER NR. 1 -->
								<div class="tp-caption   tp-resizeme"
									id="slide-10-layer-1"
									data-x="center" data-hoffset=""
									data-y="center" data-voffset="155"
									data-width="['none','none','none','none']"
									data-height="['none','none','none','none']"
									data-transform_idle="o:1;"
									data-transform_in="opacity:0;s:300;e:Power3.easeInOut;"
									data-transform_out="auto:auto;s:300;"
									data-start="0"
									data-responsive_offset="on"
									>
									<img src="http://placehold.it/1900x1281" alt="" width="1900" height="1281" data-ww="1920px" data-hh="auto" data-no-retina>
								</div>
								<!-- LAYER NR. 2 -->
								<div class="tp-caption blue-12   tp-resizeme"
									id="slide-10-layer-2"
									data-x="460"
									data-y="105"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:-50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="300"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									It's fun and easy to create your
								</div>
								<!-- LAYER NR. 3 -->
								<div class="tp-caption black-65   tp-resizeme"
									id="slide-10-layer-3"
									data-x="289"
									data-y="149"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:600;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="500"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									High Quality Website
								</div>
								<!-- LAYER NR. 4 -->
								<div class="tp-caption black-20 rs-xs-hide tp-resizeme"
									id="slide-10-layer-4"
									data-x="373"
									data-y="232"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="y:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="850"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									Give your website a unique style that helps you<br>
									spread your message across the web.
								</div>
								<!-- LAYER NR. 5 -->
								<div class="tp-caption buttonborder rs-xs-hide tp-resizeme"
									id="slide-10-layer-5"
									data-x="436"
									data-y="324"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:-50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1100"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									<a href="#">Purchase</a>
								</div>
								<!-- LAYER NR. 6 -->
								<div class="tp-caption button rs-xs-hide tp-resizeme"
									id="slide-10-layer-6"
									data-x="577"
									data-y="323"
									data-width="['auto']"
									data-height="['auto']"
									data-transform_idle="o:1;"
									data-transform_in="x:50px;opacity:0;s:500;e:Linear.easeNone;"
									data-transform_out="auto:auto;s:300;"
									data-start="1100"
									data-splitin="none"
									data-splitout="none"
									data-responsive_offset="on"
									>
									<a href="#">Learn More</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
	
			<div class="page_content_wrap page_paddings_yes">
				<div class="">
					<div class="content">
						<article class="post_item post_item_single page type-page">
							<div class="post_content">

								<section class="scheme_dark darkblue_section">
									<div class="container">
										<div class="content_wrap">
											<div  class="sc_any_shortcode responsive_margins">
												<h2 class="sc_any_shortcode_title sc_item_title">Our Features</h2>
												<div class="sc_any_shortcode_descr sc_item_descr">
													Using their experience, world's innovations and their own web solutions<br />
													the team creates themes that will solve all your tasks.
												</div>
												<div class="columns_wrap sc_columns columns_nofluid sc_columns_count_4">
													<div class="column-1_4 sc_column_item sc_column_item_1 odd first">
														<ul class="sc_list sc_list_style_iconed">
															<li class="sc_list_item odd first">
																<span class="sc_list_icon icon-done1"></span>
																Modern, Flexible, Multi-purpose!
															</li>
															<li class="sc_list_item even">
																<span class="sc_list_icon icon-done1"></span>
																WordPress 4.1+ Tested and Approved!
															</li>
															<li class="sc_list_item odd">
																<span class="sc_list_icon icon-done1"></span>
																Built with HTML5 and CSS3
															</li>
															<li class="sc_list_item even">
																<span class="sc_list_icon icon-done1"></span>
																Cross-Browser Compatibility
															</li>
														</ul>
													</div><div class="column-1_4 sc_column_item sc_column_item_2 even">
														<ul class="sc_list sc_list_style_iconed">
															<li class="sc_list_item odd first">
																<span class="sc_list_icon icon-done1"></span>
																One-Click demo install
															</li>
															<li class="sc_list_item even">
																<span class="sc_list_icon icon-done1"></span>
																Child theme support
															</li>
															<li class="sc_list_item odd">
																<span class="sc_list_icon icon-done1"></span>
																Unique Setting Inheritance
															</li>
															<li class="sc_list_item even">
																<span class="sc_list_icon icon-done1"></span>
																Shortcode Builder
															</li>
														</ul>
													</div><div class="column-1_4 sc_column_item sc_column_item_3 odd">
														<ul class="sc_list sc_list_style_iconed">
															<li class="sc_list_item odd first">
																<span class="sc_list_icon icon-done1"></span>
																Visual Composer
															</li>
															<li class="sc_list_item even">
																<span class="sc_list_icon icon-done1"></span>
																Custom Theme Options Panel
															</li>
															<li class="sc_list_item odd">
																<span class="sc_list_icon icon-done1"></span>
																Media Content Manager
															</li>
															<li class="sc_list_item even">
																<span class="sc_list_icon icon-done1"></span>
																Parallax and Video Background
															</li>
														</ul>
													</div><div class="column-1_4 sc_column_item sc_column_item_4 even">
														<ul class="sc_list sc_list_style_iconed">
															<li class="sc_list_item odd first">
																<span class="sc_list_icon icon-done1"></span>
																Google web fonts
															</li>
															<li class="sc_list_item even">
																<span class="sc_list_icon icon-done1"></span>
																Great Professional Support
															</li>
															<li class="sc_list_item odd">
																<span class="sc_list_icon icon-done1"></span>
																Documentation included
															</li>
															<li class="sc_list_item even">
																<span class="sc_list_icon icon-done1"></span>
																Regular Updates
															</li>
														</ul>
													</div>
												</div>
												<div class="sc_any_shortcode_button sc_item_button">
													<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small  sc_button_iconed icon-right">Learn More</a>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="light_section">
									<div class="container">
										<div class="content_wrap">
											<div class="sc_services_wrap">
												<div class="sc_services sc_services_style_services-3 sc_services_type_icons  responsive_margins aligncenter">
													<h2 class="sc_services_title sc_item_title">About Our Multipurpose Theme</h2>
													<div class="sc_services_descr sc_item_descr">ThemeRex worked out an amazing combination of vast fucntionalilty<br />
													and user's comfort that will definitely impress you!</div>
													<div class="sc_columns columns_wrap">
														<div class="column-1_2 column_padding_bottom">
															<div class="sc_services_item sc_services_item_1 odd first"
																>
																<a href="#">
																	<span class="sc_icon icon-support"></span>
																</a>
																<div class="sc_services_item_content">
																	<h6 class="sc_services_item_title">
																	<a href="#">Quick Support</a>
																	</h6>
																	<div class="sc_services_item_description">
																		<p>We do our best to provide the most reliable support to all our users, ensuring that...</p>
																	</div>
																</div>
															</div>
														</div><div class="column-1_2 column_padding_bottom">
															<div class="sc_services_item sc_services_item_2 even"
																>
																<a href="#">
																	<span class="sc_icon icon-basket38"></span>
																</a>
																<div class="sc_services_item_content">
																	<h6 class="sc_services_item_title">
																	<a href="#">Clean Design</a>
																	</h6>
																	<div class="sc_services_item_description">
																		<p>We&#8217;ve made the Code of Event Management clean and modern, so that you don&#8217;t have any...</p>
																	</div>
																</div>
															</div>
														</div><div class="column-1_2 column_padding_bottom">
															<div class="sc_services_item sc_services_item_3 odd"
																>
																<a href="#">
																	<span class="sc_icon icon-timer4"></span>
																</a>
																<div class="sc_services_item_content">
																	<h6 class="sc_services_item_title">
																	<a href="#">Incredibly Flexible</a>
																	</h6>
																	<div class="sc_services_item_description">
																		<p>All our themes include advanced options which makes them super flexible for you to...</p>
																	</div>
																</div>
															</div>
														</div><div class="column-1_2 column_padding_bottom">
															<div class="sc_services_item sc_services_item_4 even"
																>
																<a href="#">
																	<span class="sc_icon icon-heart369"></span>
																</a>
																<div class="sc_services_item_content">
																	<h6 class="sc_services_item_title">
																	<a href="#">Retina Ready</a>
																	</h6>
																	<div class="sc_services_item_description">
																		<p>We made sure images on your website would look stunning on any device. Our theme is...</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="grey_section">
									<div class="container">
										<div class="content_wrap">
											<div class="sc_call_to_action sc_call_to_action_style_1 sc_call_to_action_align_right responsive_margins">
												<div class="columns_wrap">
													<div class="sc_call_to_action_info column-2_5">
														<h2 class="sc_call_to_action_title sc_item_title">Our Features</h2>
														<div class="">
															<p class="margin_bottom_30">We made sure images on your website would look stunning on any device. Our theme is entirely Retina ready, so all your pictures and icons will appear the size you need.</p>
															<ul class="margin_bottom_30">
																<li>Lorem ipsum dolor sit amet, consectetur</li>
																<li>Adipisicing elit, sed do eiusmod tempor</li>
															</ul>
														</div>
														<div class="sc_call_to_action_buttons sc_item_buttons ">
															<div class="sc_call_to_action_button sc_item_button">
																<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small  sc_button_iconed icon-right">Learn More</a>
															</div>
														</div>
													</div><div class="sc_call_to_action_featured column-3_5">
														<img alt="22.png" src="images/760x430.png">
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="light_section">
									<div class="container">
										<div class="content_wrap">
											<div class="columns_wrap sc_columns columns_nofluid sc_column_item_with_margin sc_columns_count_3 responsive_margins">
												<div class="column-1_3 sc_column_item sc_column_item_1 odd first">
													<h3 class="sc_title margin_bottom_40">Our Services</h3>
													<div class="margin_bottom_20">
														<p>ThemeRex is doing their best to grant each owner of their themes with maximum opportunities to present their individuality and show their achievements.</p>
													</div>
													<ul class="sc_list sc_list_style_ul">
														<li class="sc_list_item odd first">Advanced Options and Extensive Documentation</li>
														<li class="sc_list_item even">Full Shop Functionality</li>
														<li class="sc_list_item odd">Visual Composer and Shortcode Builder</li>
													</ul>
													<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Learn More</a>
												</div><div class="column-1_3 sc_column_item sc_column_item_2 even">
													<h3 class="sc_title margin_bottom_40">Our Skills</h3>
													<div class="margin_bottom_20">
														<p>Using their rich experience, world&#8217;s innovations and their own web solutions the ThemeRex team creates templates that will solve your business&#8217;s tasks at maximum degree.</p>
													</div>
													<div class="sc_skills sc_skills_bar sc_skills_horizontal" data-type="bar" data-caption="Skills" data-dir="horizontal">
														<div class="sc_skills_info">
															<div class="sc_skills_label" >creative design</div>
														</div>
														<div class="sc_skills_item sc_skills_style_1 odd first">
															<div class="sc_skills_count sc_skills_count_style_2">
																<div class="sc_skills_total" data-start="0" data-stop="75" data-step="1" data-max="100" data-speed="25" data-duration="1875" data-ed="">0</div>
															</div>
														</div>
														<div class="sc_skills_info">
															<div class="sc_skills_label" >Branding</div>
														</div>
														<div class="sc_skills_item sc_skills_style_1 even">
															<div class="sc_skills_count sc_skills_count_style_2">
																<div class="sc_skills_total" data-start="0" data-stop="85" data-step="1" data-max="100" data-speed="16" data-duration="1360" data-ed="">0</div>
															</div>
														</div>
														<div class="sc_skills_info">
															<div class="sc_skills_label" >Marketing</div>
														</div>
														<div class="sc_skills_item sc_skills_style_1 odd">
															<div class="sc_skills_count sc_skills_count_style_2">
																<div class="sc_skills_total" data-start="0" data-stop="80" data-step="1" data-max="100" data-speed="15" data-duration="1200" data-ed="">0</div>
															</div>
														</div>
													</div>
												</div><div class="column-1_3 sc_column_item sc_column_item_3 odd">
													<h3 class="sc_title margin_bottom_40">Why Choose Us</h3>
													<div class="sc_accordion sc_accordion_style_1" data-active="0">
														<div class="sc_accordion_item odd first">
															<h6 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-angle-down-circle"></span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-angle-up-circle"></span>
																With Love to Customers
															</h6>
															<div class="sc_accordion_content">
																<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
															</div>
														</div>
														<div class="sc_accordion_item even">
															<h6 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-angle-down-circle"></span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-angle-up-circle"></span>
																Trusted Expert Support
															</h6>
															<div class="sc_accordion_content">
																<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
															</div>
														</div>
														<div class="sc_accordion_item odd">
															<h6 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-angle-down-circle"></span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-angle-up-circle"></span>
																Reliability and Prestige
															</h6>
															<div class="sc_accordion_content">
																<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="scheme_dark image_bg image_bg_8">
									<div class="container">
										<div class="content_wrap">
											<div  class="sc_any_shortcode responsive_margins  aligncenter">
												<h6 class="sc_any_shortcode_subtitle sc_item_subtitle">what we do</h6>
												<h2 class="sc_any_shortcode_title sc_item_title">Start Your E-Commerce Business</h2>
												<div class="sc_any_shortcode_descr sc_item_descr">If you need a selling website, you can easily turn our theme into an online<br />
												store due to integration of the most popular E-Commerce plugin.</div>
												<figure class="sc_image sc_image_overlay_style_1 sc_image_shape_square">
													<img src="images/599x405.png" alt="" />
												</figure>
											</div>
										</div>
									</div>
								</section>

								<section class="light_section with_overlay">
									<div class="container">
										<div class="content_wrap">
											<div class="sc_section responsive_margins sc_aligncenter">
												<div class="sc_section_inner">
													<h2 class="sc_title">Our Prices</h2>
													<div class="sc_line sc_line_style_1 sc_line_style_solid"></div>
													<h5 class="sc_undertitle sc_undertitle_style_1">Event Management is a stylish and trendy theme that makes it possible for you to construct<br />
													any kind of website that you can imagine.</h5>
													<div class="sc_price_block sc_price_block_style_1">
														<div class="sc_price_block_title">Free</div>
														<div class="sc_price_block_money">
															<div class="sc_price">
																<span class="sc_price_currency">$</span><span class="sc_price_money">0</span><span class="sc_price_info"><span class="sc_price_penny">.00</span></span>
															</div>
														</div>
														<div class="sc_price_block_description">
															<strong>
															<span>20</span>
															</strong> 
															Pages<br />
															<strong>
															<span>2 GB</span>
															</strong> 
															Storage<br />
															<strong>
															<span>150</span>
															</strong> 
															Members<br />
															<strong>
															<span>2</span>
															</strong>
															Contributors<br />
															<strong>
															<span>Free Setup</span>
															</strong>
														</div>
														<div class="sc_price_block_link">
															<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Sign Up</a>
														</div>
													</div>
													<div class="sc_price_block sc_price_block_style_1 iconed">
														<div class="sc_price_block_icon icon-star">
														</div>
														<div class="sc_price_block_title">Standart</div>
														<div class="sc_price_block_money">
															<div class="sc_price">
																<span class="sc_price_currency">$</span><span class="sc_price_money">4</span><span class="sc_price_info"><span class="sc_price_penny">.99</span></span> 
															</div>
														</div>
														<div class="sc_price_block_description">
															<strong>
															<span>30</span>
															</strong> 
															Pages<br />
															<strong>
															<span>3 GB</span>
															</strong> 
															Storage<br />
															<strong>
															<span>300</span>
															</strong> 
															Members<br />
															<strong>
															<span>5</span>
															</strong>
															Contributors<br />
															<strong>Sell up to 20</strong> 
															Products<br />
															<strong>Free Setup</strong>
														</div>
														<div class="sc_price_block_link">
															<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Sign Up</a>
														</div>
													</div>
													<div class="sc_price_block sc_price_block_style_1">
														<div class="sc_price_block_title">Premium</div>
														<div class="sc_price_block_money">
															<div class="sc_price">
																<span class="sc_price_currency">$</span><span class="sc_price_money">9</span><span class="sc_price_info"><span class="sc_price_penny">.99</span></span>
															</div>
														</div>
														<div class="sc_price_block_description">
															<strong>
															<span>40</span>
															</strong> Pages<br />
															<strong>
															<span>10 GB</span>
															</strong> Storage<br />
															<strong>
															<span>5000</span>
															</strong> Members<br />
															<strong>
															<span>10</span>
															</strong>Contributors<br />
															<strong>Sell up to 20</strong> Products<br />
															<strong>Free Setup </strong>
															<br />
															<strong>Integrated E-Commerce </strong>
															<br />
															<strong>Developer Platform</strong>
														</div>
														<div class="sc_price_block_link">
															<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">Sign Up</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>							

							</div>
						</article>
					</div>
				</div>
			</div>

			<footer class="contacts_wrap scheme_original">
				<div class="contacts_wrap_inner">
					<div class="content_wrap">
						<div class="logo">
							<a href="index.html">
								<img src="images/135x30.png" class="logo_main" alt="">
								<br>
								<div class="logo_slogan"></div>
							</a>
						</div>
						<div class="contacts_address">
							<address class="address_right">
								Phone: 123-456-7890<br>
								Fax: 098-765-4321
							</address>
							<address class="address_left">
								Chicago, IL 60606<br>
								123, New Lenox
							</address>
						</div>
						<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_square sc_socials_size_medium">
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_facebook">
									<span class="icon-facebook"> </span>
								</a>
							</div>
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_gplus">
									<span class="icon-gplus"> </span>
								</a>
							</div>
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_twitter">
									<span class="icon-twitter"> </span>
								</a>
							</div>
							<div class="sc_socials_item">
								<a href="#" target="_blank" class="social_icons social_behance">
									<span class="icon-behance"> </span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</footer>

			<div class="copyright_wrap copyright_style_text scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="copyright_text">
							<p>
								ThemeREX © 2015 All Rights Reserved
								<a href="#">Terms of Use</a>
								and
								<a href="#">Privacy Policy</a>
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<a href="#" class="scroll_to_top icon-angle-up" title=""></a>

	<script type='text/javascript' src='js/vendor/jquery-1.11.3.min.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/__packed.js'></script>

	<script type='text/javascript' src='js/vendor/revslider/public/assets/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='js/vendor/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>
	<script type="text/javascript" src="js/vendor/revslider/public/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="js/vendor/revslider/public/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="js/vendor/revslider/public/assets/js/extensions/revolution.extension.navigation.min.js"></script>

	<script type='text/javascript' src='js/vendor/mediaelement/mediaelement-and-player.min.js'></script>
	
	<script type='text/javascript' src='js/custom/core.utils.min.js'></script>
	<script type='text/javascript' src='js/custom/core.init.min.js'></script>
	<script type='text/javascript' src='js/custom/shortcodes.min.js'></script>
	<script type='text/javascript' src='js/custom/_main.js'></script>

</body>
</html>