<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
	<title>Event Management</title>
	<link rel='stylesheet' href='js/vendor/swiper/swiper.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/core.portfolio.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/woo/woo-style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
	<style id='themerex-custom-style-inline-css' type='text/css'></style>
	<link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />

</head>

<body class="page body_style_wide body_filled article_style_stretch top_panel_show top_panel_above sidebar_hide sidebar_outer_hide">

	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>

			<header class="top_panel_wrap top_panel_style_6 scheme_dark">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle" >
						<div class="content_wrap">
							<div class="columns_wrap columns_fluid">
								<div class="column-1_3 contact_logo">
									<div class="logo">
										<a href="index.html">
											<img src="images/135x30.png" class="logo_main" alt="">
											<img src="images/135x30.png" class="logo_fixed" alt="">
											<br>
											<div class="logo_slogan">
											</div>
										</a>
									</div>
								</div><div class="column-2_3 menu_main_wrap">
									<a href="#" class="menu_main_responsive_button icon-menu"></a>
									<nav class="menu_main_nav_area">
										<ul id="menu_main" class="menu_main_nav">
											<li class="menu-item menu-item-has-children">
												<a>Home Page</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="index.html">Home Default</a>
													</li>
													<li class="menu-item">
														<a href="index-landing.html">Home Landing</a>
													</li>
													<li class="menu-item">
														<a href="index-single-page.html">Home Single Page</a>
													</li>
													<li class="menu-item">
														<a href="index-portfolio.html">Home Portfolio</a>
													</li>
													<li class="menu-item">
														<a href="index-presentation.html">Home Presentation</a>
													</li>
													<li class="menu-item">
														<a href="index-boxed.html">Home Boxed</a>
													</li>
													<li class="menu-item">
														<a href="index-minimalistic.html">Home Minimalistic</a>
													</li>
													<li class="menu-item">
														<a href="index-creative.html">Home Creative</a>
													</li>
													<li class="menu-item">
														<a href="index-shop.html">Home Shop</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent">
												<a>Pages</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="pages-about-us.html">About</a>
													</li>
													<li class="menu-item">
														<a href="pages-services.html">Services</a>
													</li>
													<li class="menu-item current-menu-item current_page_item">
														<a href="pages-team.html">Team</a>
													</li>
													<li class="menu-item">
														<a href="pages-team-member.html">Team Member</a>
													</li>
													<li class="menu-item">
														<a href="pages-404.html">404 Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-maintenance.html">Maintenance Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-coming-soon.html">Coming Soon Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-contact-us.html">Contact Us Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-pricing-table.html">Pricing</a>
													</li>
													<li class="menu-item">
														<a href="pages-faq-page.html">Faq</a>
													</li>
													<li class="menu-item">
														<a href="pages-events.html">Events</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Community</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="pages-community-activity.html">Activity</a>
															</li>
															<li class="menu-item">
																<a href="pages-community-members.html">Members</a>
															</li>
															<li class="menu-item">
																<a href="pages-community-groups.html">Groups</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Features</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="features-typography.html">Typography</a>
													</li>
													<li class="menu-item">
														<a href="features-shortcodes.html">Shortcodes</a>
													</li>
													<li class="menu-item">
														<a href="features-support.html">Support</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Portfolio</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="portfolio-polaroid-gallery.html">Polaroid Gallery</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Portfolio</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-portfolio-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-portfolio-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Grid</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-grid-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-grid-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Square</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-square-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-square-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Colored</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-colored-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-colored-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a href="#">Blog</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="blog-standard.html">Standard</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a href="#">Masonry</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="blog-masonry-2-columns.html">Masonry 2 columns</a>
															</li>
															<li class="menu-item">
																<a href="blog-masonry-3-columns.html">Masonry 3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a href="#">Portfolio</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="blog-portfolio-2-columns.html">Portfolio 2 columns</a>
															</li>
															<li class="menu-item">
																<a href="blog-portfolio-3-columns.html">Portfolio 3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item">
														<a href="blog-post-formats.html">Post Formats</a>
													</li>
												</ul>
											</li>
											<li class="menu-item">
												<a href="shop.html">Shop</a>
											</li>
										</ul>
									</nav>
									<div class="menu_main_cart top_panel_icon">
										<a href="#" class="top_panel_cart_button" data-items="0" data-summa="&#036;0.00">
											<span class="contact_icon icon-basket38"></span>
											<span class="contact_label contact_cart_label">Your cart:</span>
											<span class="contact_cart_totals">
												<span class="cart_items">Items 0 </span>
												-
												<span class="cart_summa">&#36;0.00</span>
											</span>
										</a>
										<ul class="widget_area sidebar_cart sidebar">
											<li>
												<div class="widget woocommerce widget_shopping_cart">
													<div class="hide_cart_widget_if_empty">
														<div class="widget_shopping_cart_content">
															<ul class="cart_list product_list_widget ">
																<li class="empty">No products in the cart.</li>
															</ul><!-- end product list -->
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="search_wrap search_style_regular search_state_closed top_panel_icon">
										<div class="search_form_wrap">
											<form method="get" class="search_form" action="#">
												<button type="submit" class="search_submit icon-search-light" title="Open search"></button>
												<input type="text" class="search_field" placeholder="Search" value="" name="s" />
											</form>
										</div>
										<div class="search_results widget_area scheme_original">
											<a class="search_results_close">×</a>
											<div class="search_results_content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div class="top_panel_title top_panel_style_3  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_3  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">Team</h1>
						<div class="breadcrumbs">
							<a class="breadcrumbs_item home" href="index.html">Home</a>
							<span class="breadcrumbs_delimiter"></span>
							<span class="breadcrumbs_item current">Team</span>
						</div>
					</div>
				</div>
			</div>			

			<div class="page_content_wrap page_paddings_yes">
				<div class="">
					<div class="content">
						<article class="post_item post_item_single page type-page">
							<div class="post_content">

								<section class="light_section">
									<div class="container">
										<div class="content_wrap">
											<div class="sc_team_wrap">
												<div class="sc_team mobile_tap_hover sc_team_style_team-1 responsive_margins">
													<h2 class="sc_team_title sc_item_title">Meet Our People</h2>
													<div class="sc_team_descr sc_item_descr">We are attentive to our customers, and we work hard to make sure<br />
													you receive the answers to all your questions.</div>
													<div class="sc_columns columns_wrap">
														<div class="column-1_4 column_padding_bottom">
															<div class="sc_team_item sc_team_item_1 odd first">
																<div class="sc_team_item_avatar">
																	<a class="taphover" href="">
																		<img alt="28.jpg" src="images/390x390.png">
																	</a>
																</div>
																<div class="sc_team_item_info">
																	<h5 class="sc_team_item_title">
																	<a href="">Genesis Woods</a>
																	</h5>
																	<div class="sc_team_item_position">designer</div>
																	<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
																		<div class="sc_socials_item">
																			<a href="#" target="_blank" class="social_icons social_facebook">
																				<span class="icon-facebook"></span>
																			</a>
																		</div>
																		<div class="sc_socials_item">
																			<a href="#" target="_blank" class="social_icons social_gplus">
																				<span class="icon-gplus"></span>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div><div class="column-1_4 column_padding_bottom">
															<div class="sc_team_item sc_team_item_2 even">
																<div class="sc_team_item_avatar">
																	<a class="taphover" href="#">
																		<img alt="25.jpg" src="images/390x390.png">
																	</a>
																</div>
																<div class="sc_team_item_info">
																	<h5 class="sc_team_item_title">
																	<a href="#">Elena Marshall</a>
																	</h5>
																	<div class="sc_team_item_position">creative director</div>
																	<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
																		<div class="sc_socials_item">
																			<a href="#" target="_blank" class="social_icons social_facebook">
																				<span class="icon-facebook"></span>
																			</a>
																		</div>
																		<div class="sc_socials_item">
																			<a href="#" target="_blank" class="social_icons social_gplus">
																				<span class="icon-gplus"></span>
																			</a>
																		</div>
																		<div class="sc_socials_item">
																			<a href="#" target="_blank" class="social_icons social_twitter">
																				<span class="icon-twitter"></span>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div><div class="column-1_4 column_padding_bottom">
															<div class="sc_team_item sc_team_item_3 odd">
																<div class="sc_team_item_avatar">
																	<a class="taphover" href="#">
																		<img alt="7.jpg" src="images/390x390.png">
																	</a>
																</div>
																<div class="sc_team_item_info">
																	<h5 class="sc_team_item_title">
																	<a href="#">Alfred Roberts</a>
																	</h5>
																	<div class="sc_team_item_position">designer</div>
																	<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
																		<div class="sc_socials_item">
																			<a href="#" target="_blank" class="social_icons social_facebook">
																				<span class="icon-facebook"></span>
																			</a>
																		</div>
																		<div class="sc_socials_item">
																			<a href="#" target="_blank" class="social_icons social_gplus">
																				<span class="icon-gplus"></span>
																			</a>
																		</div>
																		<div class="sc_socials_item">
																			<a href="#" target="_blank" class="social_icons social_twitter">
																				<span class="icon-twitter"></span>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div><div class="column-1_4 column_padding_bottom">
															<div class="sc_team_item sc_team_item_4 even">
																<div class="sc_team_item_avatar">
																	<a class="taphover" href="#">
																		<img alt="6.jpg" src="images/390x390.png">
																	</a>
																</div>
																<div class="sc_team_item_info">
																	<h5 class="sc_team_item_title">
																	<a href="#">Dale Adams</a>
																	</h5>
																	<div class="sc_team_item_position">photographer</div>
																	<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
																		<div class="sc_socials_item">
																			<a href="#" target="_blank" class="social_icons social_facebook">
																				<span class="icon-facebook"></span>
																			</a>
																		</div>
																		<div class="sc_socials_item">
																			<a href="#" target="_blank" class="social_icons social_gplus">
																				<span class="icon-gplus"></span>
																			</a>
																		</div>
																		<div class="sc_socials_item">
																			<a href="#" target="_blank" class="social_icons social_twitter">
																				<span class="icon-twitter"></span>
																			</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="image_bg image_bg_5 scheme_dark">
									<div class="container-fluid">								
										<div class="skyblue_section">
											<div class="sc_section sc_section_style_1 alignright">
												<div class="sc_section_inner">
													<div class="sc_section_overlay">
														<div class="sc_section_content padding_on">
															<h5 class="sc_title sc_title_style_1">About Company</h5>
															<div class="margin_bottom_30">
																<p>
																	ThemeRex is a studio that aims to make their users experience easier and much more pleasant. You probalby won&#8217;t have a better opportunity to make sure of their competence, as well as friendliness towards their customers.
																</p>
															</div>
															<div class="sc_skills sc_skills_bar sc_skills_horizontal" data-type="bar" data-caption="Skills" data-dir="horizontal">
																<div class="sc_skills_info">
																	<div class="sc_skills_label" >Creative Design</div>
																</div>
																<div class="sc_skills_item sc_skills_style_1 odd first">
																	<div class="sc_skills_count sc_skills_count_style_1">
																		<div class="sc_skills_total" data-start="0" data-stop="75" data-step="1" data-max="100" data-speed="31" data-duration="2325" data-ed="">0</div>
																	</div>
																</div>
																<div class="sc_skills_info">
																	<div class="sc_skills_label" >Branding</div>
																</div>
																<div class="sc_skills_item sc_skills_style_1 even">
																	<div class="sc_skills_count sc_skills_count_style_1">
																		<div class="sc_skills_total" data-start="0" data-stop="85" data-step="1" data-max="100" data-speed="17" data-duration="1445" data-ed="">0</div>
																	</div>
																</div>
																<div class="sc_skills_info">
																	<div class="sc_skills_label" >Support</div>
																</div>
																<div class="sc_skills_item sc_skills_style_1 odd">
																	<div class="sc_skills_count sc_skills_count_style_1">
																		<div class="sc_skills_total" data-start="0" data-stop="80" data-step="1" data-max="100" data-speed="28" data-duration="2240" data-ed="">0</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="light_section">
									<div class="container">
										<div class="content_wrap">
											<div class="sc_clients_wrap">
												<div class="sc_clients sc_clients_style_clients-1 responsive_margins">
													<h6 class="sc_clients_subtitle sc_item_subtitle">A few words</h6>
													<h2 class="sc_clients_title sc_item_title">Our Clients</h2>
													<div class="sc_columns columns_wrap">
														<div class="column-1_5 column_padding_bottom">
															<div class="sc_clients_item sc_clients_item_1 odd first">
																<div class="sc_client_image">
																	<img alt="Graphic River" src="images/460x239.png">
																	<div class="sc_client_title">Lorem Company</div>
																</div>
															</div>
														</div><div class="column-1_5 column_padding_bottom">
															<div class="sc_clients_item sc_clients_item_2 even">
																<div class="sc_client_image">
																	<img alt="Video Hive" src="images/460x239.png">
																	<div class="sc_client_title">Lorem Company</div>
																</div>
															</div>
														</div><div class="column-1_5 column_padding_bottom">
															<div class="sc_clients_item sc_clients_item_3 odd">
																<div class="sc_client_image">
																	<img alt="Theme Forest" src="images/460x239.png">
																	<div class="sc_client_title">Lorem Company</div>
																</div>
															</div>
														</div><div class="column-1_5 column_padding_bottom">
															<div class="sc_clients_item sc_clients_item_4 even">
																<div class="sc_client_image">
																	<img alt="Photo Dune" src="images/460x239.png">
																	<div class="sc_client_title">Lorem Company</div>
																</div>
															</div>
														</div><div class="column-1_5 column_padding_bottom">
															<div class="sc_clients_item sc_clients_item_5 odd">
																<div class="sc_client_image">
																	<img alt="Code Canyon" src="images/460x239.png">
																	<div class="sc_client_title">Lorem Company</div>
																</div>
															</div>
														</div><div class="column-1_5 column_padding_bottom">
															<div class="sc_clients_item sc_clients_item_6 even">
																<div class="sc_client_image">
																	<img alt="Audio Jungle" src="images/460x239.png">
																	<div class="sc_client_title">Lorem Company</div>
																</div>
															</div>
														</div><div class="column-1_5 column_padding_bottom">
															<div class="sc_clients_item sc_clients_item_7 odd">
																<div class="sc_client_image">
																	<img alt="Active Den" src="images/460x239.png">
																	<div class="sc_client_title">Lorem Company</div>
																</div>
															</div>
														</div><div class="column-1_5 column_padding_bottom">
															<div class="sc_clients_item sc_clients_item_8 even">
																<div class="sc_client_image">
																	<img alt="3D Ocean" src="images/460x239.png">
																	<div class="sc_client_title">Lorem Company</div>
																</div>
															</div>
														</div><div class="column-1_5 column_padding_bottom">
															<div class="sc_clients_item sc_clients_item_9 odd">
																<div class="sc_client_image">
																	<img alt="Dream Pictures" src="images/460x239.png">
																	<div class="sc_client_title">Lorem Company</div>
																</div>
															</div>
														</div><div class="column-1_5 column_padding_bottom">
															<div id="sc_clients_1056328637_10" class="sc_clients_item sc_clients_item_10 even">
																<div class="sc_client_image">
																	<img alt="2Photo" src="images/460x239.png">
																	<div class="sc_client_title">Lorem Company</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

							</div>
						</article>
					</div>
				</div>
			</div>

			<footer class="footer_wrap widget_area scheme_original">
				<div class="footer_wrap_inner widget_area_inner">
					<div class="content_wrap">
						<div class="columns_wrap">
							<aside class="column-1_4 widget widget_socials">
								<div class="widget_inner">
									<div class="logo">
										<a href="index.html">
											<img src="images/135x30.png" class="logo_main" alt="">
											<br>
											<div class="logo_slogan"></div>
										</a>
									</div>
									<div class="logo_descr">Learn more about who we are or get in touch with us if you need us to perform your next creative project. </div>
									<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_facebook">
												<span class="icon-facebook"></span>
											</a>
										</div>
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_gplus">
												<span class="icon-gplus"></span>
											</a>
										</div>
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_twitter">
												<span class="icon-twitter"></span>
											</a>
										</div>
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_behance">
												<span class="icon-behance"></span>
											</a>
										</div>
									</div>
								</div>
							</aside><aside class="column-1_4 widget widget_recent_comments">
								<h5 class="widget_title">Recent Comments</h5>
								<ul id="recentcomments">
									<li class="recentcomments">
										<span class="comment-author-link">Kate</span>
										on
										<a href="#">Audyssey Wireless  Bluetooth Speakers</a>
									</li>
									<li class="recentcomments">
										<span class="comment-author-link">trx_admin</span>
										on
										<a href="#">Audyssey Wireless Bluetooth Speakers</a>
									</li>
									<li class="recentcomments">
										<span class="comment-author-link">trx_admin</span>
										on
										<a href="#">Experimenting With Anatomy Illustrations</a>
									</li>
								</ul>
							</aside><aside class="column-1_4 widget widget_text">
								<h5 class="widget_title">Contact Us</h5>
								<div class="textwidget">
									<h6>ADDRESS</h6>
									<p>8500 Lorem Street, Chicagi, IL, 55030</p>
									<p></p>
									<h6>CALL US</h6>
									<p>(123) 456-78-90</p>
									<p></p>
									<h6>EMAIL</h6>
									<p>
										<span>sales@yoursite.com</span>
									</p>
								</div>
							</aside><aside class="column-1_4 widget widget_flickr">
								<h5 class="widget_title">Latest Portfolio</h5>
								<div class="flickr_images">
									<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;size=s&amp;layout=x&amp;source=user&amp;user=128791839%40N06">
									</script>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</footer>

			<div class="copyright_wrap copyright_style_text scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="copyright_text">
							<p>
								ThemeREX © 2015 All Rights Reserved
								<a href="#">Terms of Use</a>
								and
								<a href="#">Privacy Policy</a>
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<a href="#" class="scroll_to_top icon-angle-up" title=""></a>

	<script type='text/javascript' src='js/vendor/jquery-1.11.3.min.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/__packed.js'></script>

	<script type='text/javascript' src='js/custom/core.utils.min.js'></script>
	<script type='text/javascript' src='js/custom/core.init.min.js'></script>
	<script type='text/javascript' src='js/custom/shortcodes.min.js'></script>
	<script type='text/javascript' src='js/custom/_main.js'></script>

</body>
</html>