<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
	<title>Event Management</title>
	<link rel='stylesheet' href='js/vendor/swiper/swiper.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/woo/woo-style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
	<style id='themerex-custom-style-inline-css' type='text/css'></style>
	<link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
</head>

<body class="page body_style_wide body_filled article_style_stretch top_panel_show top_panel_over sidebar_hide sidebar_outer_hide">

	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>

			<header class="top_panel_wrap top_panel_style_6 scheme_dark menu_show">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_over">
					<div class="top_panel_middle" >
						<div class="content_wrap">
							<div class="columns_wrap columns_fluid">
								<div class="column-1_3 contact_logo">
									<div class="logo">
										<a href="index.html">
											<img src="images/135x30.png" class="logo_main" alt="">
											<img src="images/135x30.png" class="logo_fixed" alt="">
											<br>
											<div class="logo_slogan"></div>
										</a>
									</div>
								</div><div class="column-2_3 menu_main_wrap">
									<a href="#" class="menu_main_responsive_button icon-menu"></a>
									<nav class="menu_main_nav_area">
										<ul id="menu_main" class="menu_main_nav">
											<li class="menu-item menu-item-has-children">
												<a>Home Page</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="index.html">Home Default</a>
													</li>
													<li class="menu-item">
														<a href="index-landing.html">Home Landing</a>
													</li>
													<li class="menu-item">
														<a href="index-single-page.html">Home Single Page</a>
													</li>
													<li class="menu-item">
														<a href="index-portfolio.html">Home Portfolio</a>
													</li>
													<li class="menu-item">
														<a href="index-presentation.html">Home Presentation</a>
													</li>
													<li class="menu-item">
														<a href="index-boxed.html">Home Boxed</a>
													</li>
													<li class="menu-item">
														<a href="index-minimalistic.html">Home Minimalistic</a>
													</li>
													<li class="menu-item">
														<a href="index-creative.html">Home Creative</a>
													</li>
													<li class="menu-item">
														<a href="index-shop.html">Home Shop</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent">
												<a>Pages</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="pages-about-us.html">About</a>
													</li>
													<li class="menu-item">
														<a href="pages-services.html">Services</a>
													</li>
													<li class="menu-item">
														<a href="pages-team.html">Team</a>
													</li>
													<li class="menu-item">
														<a href="pages-team-member.html">Team Member</a>
													</li>
													<li class="menu-item">
														<a href="pages-404.html">404 Page</a>
													</li>
													<li class="menu-item current-menu-item current_page_item">
														<a href="pages-maintenance.html">Maintenance Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-coming-soon.html">Coming Soon Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-contact-us.html">Contact Us Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-pricing-table.html">Pricing</a>
													</li>
													<li class="menu-item">
														<a href="pages-faq-page.html">Faq</a>
													</li>
													<li class="menu-item">
														<a href="pages-events.html">Events</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Community</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="pages-community-activity.html">Activity</a>
															</li>
															<li class="menu-item">
																<a href="pages-community-members.html">Members</a>
															</li>
															<li class="menu-item">
																<a href="pages-community-groups.html">Groups</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Features</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="features-typography.html">Typography</a>
													</li>
													<li class="menu-item">
														<a href="features-shortcodes.html">Shortcodes</a>
													</li>
													<li class="menu-item">
														<a href="features-support.html">Support</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Portfolio</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="portfolio-polaroid-gallery.html">Polaroid Gallery</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Portfolio</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-portfolio-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-portfolio-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Grid</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-grid-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-grid-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Square</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-square-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-square-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Colored</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-colored-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-colored-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a href="#">Blog</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="blog-standard.html">Standard</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a href="#">Masonry</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="blog-masonry-2-columns.html">Masonry 2 columns</a>
															</li>
															<li class="menu-item">
																<a href="blog-masonry-3-columns.html">Masonry 3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a href="#">Portfolio</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="blog-portfolio-2-columns.html">Portfolio 2 columns</a>
															</li>
															<li class="menu-item">
																<a href="blog-portfolio-3-columns.html">Portfolio 3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item">
														<a href="blog-post-formats.html">Post Formats</a>
													</li>
												</ul>
											</li>
											<li class="menu-item">
												<a href="shop.html">Shop</a>
											</li>
										</ul>
									</nav>
									<div class="menu_main_cart top_panel_icon">
										<a href="#" class="top_panel_cart_button" data-items="0" data-summa="&#036;0.00">
											<span class="contact_icon icon-basket38"></span>
											<span class="contact_label contact_cart_label">Your cart:</span>
											<span class="contact_cart_totals">
												<span class="cart_items">Items 0 </span>
												-
												<span class="cart_summa">&#36;0.00</span>
											</span>
										</a>
										<ul class="widget_area sidebar_cart sidebar">
											<li>
												<div class="widget woocommerce widget_shopping_cart">
													<div class="hide_cart_widget_if_empty">
														<div class="widget_shopping_cart_content">
															<ul class="cart_list product_list_widget ">
																<li class="empty">No products in the cart.</li>
															</ul><!-- end product list -->
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="search_wrap search_style_regular search_state_closed top_panel_icon">
										<div class="search_form_wrap">
											<form method="get" class="search_form" action="#">
												<button type="submit" class="search_submit icon-search-light" title="Open search"></button>
												<input type="text" class="search_field" placeholder="Search" value="" name="s" />
											</form>
										</div>
										<div class="search_results widget_area scheme_original">
											<a class="search_results_close">×</a>
											<div class="search_results_content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div class="page_content_wrap page_paddings_yes">
				<div class="">
					<div class="content">
						<article class="post_item post_item_single page type-page">
							<div class="post_content">

								<section class="scheme_dark image_bg image_bg_4 huge_container">
									<div class="container">
										<div  class="sc_any_shortcode responsive_margins  aligncenter">
											<h2 class="sc_any_shortcode_title sc_item_title">Maintenance Page</h2>
											<div class="sc_any_shortcode_descr sc_item_descr">We are very sorry for this inconvenience. We are currently working on something new<br />
											and we will be back soon with awesome new features. Thanks for your patience.</div>
											<div class="sc_socials sc_socials_color_dark sc_socials_type_icons sc_socials_shape_square sc_socials_size_large">
												<div class="sc_socials_item">
													<a href="#" target="_blank" class="social_icons social_facebook">
														<span class="icon-facebook">
														</span>
													</a>
												</div>
												<div class="sc_socials_item">
													<a href="#" target="_blank" class="social_icons social_gplus">
														<span class="icon-gplus">
														</span>
													</a>
												</div>
												<div class="sc_socials_item">
													<a href="#" target="_blank" class="social_icons social_twitter">
														<span class="icon-twitter">
														</span>
													</a>
												</div>
												<div class="sc_socials_item">
													<a href="#" target="_blank" class="social_icons social_behance">
														<span class="icon-behance">
														</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section class="skyblue_section scheme_dark no_padding">
									<div class="container">
										<div class="content_wrap">
											<div class="maintenance_notify">
												<div class="sc_section alignleft">
													<div class="sc_section_inner">
														<h4 class="sc_title">Get Notified when we launch!</h4>
														<p>
															<span>You can subscribe us , please leave you email address and we will notify you as soon as we&#8217;re ready to launch..</span>
														</p>
													</div>
												</div>
												<div class="sc_emailer alignright sc_emailer_opened">
													<form class="sc_emailer_form">
														<input type="text" class="sc_emailer_input" name="email" value="" placeholder="Enter You Email">
														<a href="#" class="sc_emailer_button icon-fast-forward-button1" title="Submit" data-group="E-mailer subscription"></a>
													</form>
												</div>
											</div>
										</div>
									</div>
								</section>

							</div>
						</article>
					</div>
				</div>
			</div>

			<div class="copyright_wrap copyright_style_text  scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="copyright_text">
							<p>ThemeREX © 2015 All Rights Reserved
								<a href="#">Terms of Use</a>
								and
								<a href="#">Privacy Policy</a>
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<a href="#" class="scroll_to_top icon-angle-up" title=""></a>

	<script type='text/javascript' src='js/vendor/jquery-1.11.3.min.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/__packed.js'></script>

	<script type='text/javascript' src='js/custom/core.utils.min.js'></script>
	<script type='text/javascript' src='js/custom/core.init.min.js'></script>
	<script type='text/javascript' src='js/custom/shortcodes.min.js'></script>
	<script type='text/javascript' src='js/custom/_main.js'></script>

</body>
</html>