<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
	<title>Event Management</title>
	<link rel='stylesheet' href='css/core.portfolio.css' type='text/css' media='all' />
	<link rel='stylesheet' href='js/vendor/the-events-calendar/vendor/bootstrap-datepicker/css/datepicker.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='js/vendor/the-events-calendar/resources/tribe-events-full.min.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='js/vendor/the-events-calendar/resources/tribe-events-theme.min.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='js/vendor/the-events-calendar/resources/tribe-events-full-mobile.min.css' type='text/css' media='only screen and (max-width: 768px)'/>
	<link rel='stylesheet' href='js/vendor/the-events-calendar/resources/tribe-events-theme-mobile.min.css' type='text/css' media='only screen and (max-width: 768px)'/>
	<link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/tribe-style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/woo/woo-style.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/skin.css' type='text/css' media='all' />
	<style id='themerex-custom-style-inline-css' type='text/css'></style>
	<link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />

</head>

<body class="archive body_style_wide body_filled article_style_stretch top_panel_show top_panel_above sidebar_hide sidebar_outer_hide events-list events-archive">

	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>

			<header class="top_panel_wrap top_panel_style_6 scheme_original">
				<div class="top_panel_wrap_inner top_panel_inner_style_6 top_panel_position_above">
					<div class="top_panel_middle" >
						<div class="content_wrap">
							<div class="columns_wrap columns_fluid">
								<div class="column-1_3 contact_logo">
									<div class="logo">
										<a href="index.html">
											<img src="images/135x30.png" class="logo_main" alt="">
											<img src="images/135x30.png" class="logo_fixed" alt="">
											<br>
											<div class="logo_slogan"></div>
										</a>
									</div>
								</div><div class="column-2_3 menu_main_wrap">
									<a href="#" class="menu_main_responsive_button icon-menu"></a>
									<nav class="menu_main_nav_area">
										<ul id="menu_main" class="menu_main_nav">
											<li class="menu-item menu-item-has-children">
												<a>Home Page</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="index.html">Home Default</a>
													</li>
													<li class="menu-item">
														<a href="index-landing.html">Home Landing</a>
													</li>
													<li class="menu-item">
														<a href="index-single-page.html">Home Single Page</a>
													</li>
													<li class="menu-item">
														<a href="index-portfolio.html">Home Portfolio</a>
													</li>
													<li class="menu-item">
														<a href="index-presentation.html">Home Presentation</a>
													</li>
													<li class="menu-item">
														<a href="index-boxed.html">Home Boxed</a>
													</li>
													<li class="menu-item">
														<a href="index-minimalistic.html">Home Minimalistic</a>
													</li>
													<li class="menu-item">
														<a href="index-creative.html">Home Creative</a>
													</li>
													<li class="menu-item">
														<a href="index-shop.html">Home Shop</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent">
												<a>Pages</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="pages-about-us.html">About</a>
													</li>
													<li class="menu-item">
														<a href="pages-services.html">Services</a>
													</li>
													<li class="menu-item">
														<a href="pages-team.html">Team</a>
													</li>
													<li class="menu-item">
														<a href="pages-team-member.html">Team Member</a>
													</li>
													<li class="menu-item">
														<a href="pages-404.html">404 Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-maintenance.html">Maintenance Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-coming-soon.html">Coming Soon Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-contact-us.html">Contact Us Page</a>
													</li>
													<li class="menu-item">
														<a href="pages-pricing-table.html">Pricing</a>
													</li>
													<li class="menu-item">
														<a href="pages-faq-page.html">Faq</a>
													</li>
													<li class="menu-item current-menu-item current_page_item">
														<a href="pages-events.html">Events</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Community</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="pages-community-activity.html">Activity</a>
															</li>
															<li class="menu-item">
																<a href="pages-community-members.html">Members</a>
															</li>
															<li class="menu-item">
																<a href="pages-community-groups.html">Groups</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Features</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="features-typography.html">Typography</a>
													</li>
													<li class="menu-item">
														<a href="features-shortcodes.html">Shortcodes</a>
													</li>
													<li class="menu-item">
														<a href="features-support.html">Support</a>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a>Portfolio</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="portfolio-polaroid-gallery.html">Polaroid Gallery</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Portfolio</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-portfolio-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-portfolio-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Grid</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-grid-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-grid-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Square</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-square-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-square-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a>Colored</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="portfolio-colored-2-columns-sidebar.html">2 columns + sidebar</a>
															</li>
															<li class="menu-item">
																<a href="portfolio-colored-3-columns.html">3 columns</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class="menu-item menu-item-has-children">
												<a href="#">Blog</a>
												<ul class="sub-menu">
													<li class="menu-item">
														<a href="blog-standard.html">Standard</a>
													</li>
													<li class="menu-item menu-item-has-children">
														<a href="#">Masonry</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="blog-masonry-2-columns.html">Masonry 2 columns</a>
															</li>
															<li class="menu-item">
																<a href="blog-masonry-3-columns.html">Masonry 3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item menu-item-has-children">
														<a href="#">Portfolio</a>
														<ul class="sub-menu">
															<li class="menu-item">
																<a href="blog-portfolio-2-columns.html">Portfolio 2 columns</a>
															</li>
															<li class="menu-item">
																<a href="blog-portfolio-3-columns.html">Portfolio 3 columns</a>
															</li>
														</ul>
													</li>
													<li class="menu-item">
														<a href="blog-post-formats.html">Post Formats</a>
													</li>
												</ul>
											</li>
											<li class="menu-item">
												<a href="shop.html">Shop</a>
											</li>
										</ul>
									</nav>
									<div class="menu_main_cart top_panel_icon">
										<a href="#" class="top_panel_cart_button" data-items="0" data-summa="&#036;0.00">
											<span class="contact_icon icon-basket38"></span>
											<span class="contact_label contact_cart_label">Your cart:</span>
											<span class="contact_cart_totals">
												<span class="cart_items">Items 0 </span>
												-
												<span class="cart_summa">&#36;0.00</span>
											</span>
										</a>
										<ul class="widget_area sidebar_cart sidebar">
											<li>
												<div class="widget woocommerce widget_shopping_cart">
													<div class="hide_cart_widget_if_empty">
														<div class="widget_shopping_cart_content">
															<ul class="cart_list product_list_widget ">
																<li class="empty">No products in the cart.</li>
															</ul><!-- end product list -->
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="search_wrap search_style_regular search_state_closed top_panel_icon">
										<div class="search_form_wrap">
											<form method="get" class="search_form" action="#">
												<button type="submit" class="search_submit icon-search-light" title="Open search"></button>
												<input type="text" class="search_field" placeholder="Search" value="" name="s" />
											</form>
										</div>
										<div class="search_results widget_area scheme_original">
											<a class="search_results_close">×</a>
											<div class="search_results_content"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
				<div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
					<div class="content_wrap">
						<h1 class="page_title">Daily Events</h1>
						<div class="breadcrumbs">
							<a class="breadcrumbs_item home" href="index.html">Home</a>
							<span class="breadcrumbs_delimiter"></span>
							<span class="breadcrumbs_item current">Daily Events</span>
						</div>
					</div>
				</div>
			</div>				
	
			<div class="page_content_wrap page_paddings_yes">
				<div class="content_wrap">
					<div class="content">
						<article class="post_content">
							<div class="post_content">
								
								<section class="light_section">
									<div class="container">
										<section class="post tribe_events_wrapper">
											<article class="post_content">
												<div id="tribe-events-pg-template">
													<div id="tribe-events" class="tribe-no-js">
														<div class="tribe-events-before-html">
														</div>
														<span class="tribe-events-ajax-loading">
															<img class="tribe-events-spinner-medium" src="js/vendor/the-events-calendar/resources/images/tribe-loading.gif" alt="Loading Events" />
														</span>
														<div id="tribe-events-content-wrapper" class="tribe-clearfix">
															<input type="hidden" id="tribe-events-list-hash" value="">
															<div id="tribe-events-bar">
																<form id="tribe-bar-form" class="tribe-clearfix" name="tribe-bar-form" method="post" action="#">
																	<div id="tribe-bar-collapse-toggle" >
																		Find Events
																		<span class="tribe-bar-toggle-arrow"></span>
																	</div>
																	<div id="tribe-bar-views">
																		<div class="tribe-bar-views-inner tribe-clearfix">
																			<h3 class="tribe-events-visuallyhidden">Event Views Navigation</h3>
																			<label>View As</label>
																			<select class="tribe-bar-views-select tribe-no-param" name="tribe-bar-view">
																				<option value="pages-events.html" data-view="list">
																					List
																				</option>
																				<option value="pages-events-month.html" data-view="month">
																					Month
																				</option>
																				<option selected value="pages-events-day.html" data-view="day">
																					Day
																				</option>
																			</select>
																		</div>
																	</div>
																	<div class="tribe-bar-filters">
																		<div class="tribe-bar-filters-inner tribe-clearfix">
																			<div class="tribe-bar-date-filter">
																				<label class="label-tribe-bar-date" for="tribe-bar-date">Events From</label>
																				<input type="text" name="tribe-bar-date" id="tribe-bar-date" value="" placeholder="Date">
																				<input type="hidden" name="tribe-bar-date-day" id="tribe-bar-date-day" class="tribe-no-param" value="">
																			</div>
																			<div class="tribe-bar-search-filter">
																				<label class="label-tribe-bar-search" for="tribe-bar-search">Search</label>
																				<input type="text" name="tribe-bar-search" id="tribe-bar-search" value="" placeholder="Search">
																			</div>
																			<div class="tribe-bar-submit">
																				<input class="tribe-events-button tribe-no-param" type="submit" name="submit-bar" value="Find Events" />
																			</div>
																		</div>
																	</div>
																</form>
															</div>
															<div id="tribe-events-content" class="tribe-events-list tribe-events-day">
																<h2 class="tribe-events-page-title">
																<a href="#">Events for December 1, 2015</a> › Conferences</h2>
																<div id="tribe-events-header" data-title="Events for December 1, 2015 – Events – Event Management" data-startofweek="1" data-view="day" data-baseurl="#" data-date="2015-12-01" data-header="December 1, 2015">
																	<h3 class="tribe-events-visuallyhidden">Day Navigation</h3>
																	<ul class="tribe-events-sub-nav">
																		<li class="tribe-events-nav-previous">
																			<a href="#" data-day="2015-11-30" rel="prev" class="sc_button sc_button_style_filled">
																				<span>«</span> Previous Day</a>
																			</li>
																			<li class="tribe-events-nav-next">
																				<a href="#" data-day="2015-12-02" rel="prev" class="sc_button sc_button_style_filled">Next Day <span>»</span>
																			</a>
																		</li>
																	</ul>
																</div>
																<div class="tribe-events-loop">
																	<div class="tribe-events-day-time-slot">
																		<div id="post-0" class="">
																			<div class="tribe-events-event-meta ">
																				<div class="tribe-updated published time-details">
																					<span class="tribe-event-date-start">January 14 @ 12:51 pm</span>
																				</div>
																			</div>
																			<div class="tribe-events-list-event-description tribe-events-content description entry-summary">
																				<a href="/" class="tribe-events-read-more sc_button sc_button_style_filled" rel="bookmark">Find out more »</a>
																			</div>
																		</div>
																	</div>
																</div>
																<div id="tribe-events-footer">
																	<h3 class="tribe-events-visuallyhidden">Day Navigation</h3>
																	<ul class="tribe-events-sub-nav">
																		<li class="tribe-events-nav-previous">
																			<a href="#" data-day="2015-11-30" rel="prev" class="sc_button sc_button_style_filled">
																				<span>«</span> Previous Day</a>
																			</li>
																			<li class="tribe-events-nav-next">
																				<a href="#" data-day="2015-12-02" rel="prev" class="sc_button sc_button_style_filled">Next Day <span>»</span>
																			</a>
																		</li>
																	</ul>
																</div>
																<a class="tribe-events-ical tribe-events-button sc_button sc_button_style_filled" title="Use this to share calendar data with Google Calendar, Apple iCal and other compatible apps" href="#">+ Export Day's Events</a>
															</div>
															<div class="tribe-clear"></div>
														</div>
														<div class="tribe-events-after-html"></div>
													</div>
												</div>
											</article>
										</section>
									</div>
								</section>

							</div>
						</article>
					</div>
				</div>
			</div>

			<footer class="footer_wrap widget_area scheme_original">
				<div class="footer_wrap_inner widget_area_inner">
					<div class="content_wrap">
						<div class="columns_wrap">
							<aside class="column-1_4 widget widget_socials">
								<div class="widget_inner">
									<div class="logo">
										<a href="index.html">
											<img src="images/135x30.png" class="logo_main" alt="">
											<br>
											<div class="logo_slogan"></div>
										</a>
									</div>
									<div class="logo_descr">Learn more about who we are or get in touch with us if you need us to perform your next creative project. </div>
									<div class="sc_socials sc_socials_color_ sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_facebook">
												<span class="icon-facebook"></span>
											</a>
										</div>
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_gplus">
												<span class="icon-gplus"></span>
											</a>
										</div>
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_twitter">
												<span class="icon-twitter"></span>
											</a>
										</div>
										<div class="sc_socials_item">
											<a href="#" target="_blank" class="social_icons social_behance">
												<span class="icon-behance"></span>
											</a>
										</div>
									</div>
								</div>
							</aside><aside class="column-1_4 widget widget_recent_comments">
								<h5 class="widget_title">Recent Comments</h5>
								<ul id="recentcomments">
									<li class="recentcomments">
										<span class="comment-author-link">Kate</span>
										on
										<a href="#">Audyssey Wireless  Bluetooth Speakers</a>
									</li>
									<li class="recentcomments">
										<span class="comment-author-link">trx_admin</span>
										on
										<a href="#">Audyssey Wireless Bluetooth Speakers</a>
									</li>
									<li class="recentcomments">
										<span class="comment-author-link">trx_admin</span>
										on
										<a href="#">Experimenting With Anatomy Illustrations</a>
									</li>
								</ul>
							</aside><aside class="column-1_4 widget widget_text">
								<h5 class="widget_title">Contact Us</h5>
								<div class="textwidget">
									<h6>ADDRESS</h6>
									<p>8500 Lorem Street, Chicagi, IL, 55030</p>
									<p></p>
									<h6>CALL US</h6>
									<p>(123) 456-78-90</p>
									<p></p>
									<h6>EMAIL</h6>
									<p>
										<span>sales@yoursite.com</span>
									</p>
								</div>
							</aside><aside class="column-1_4 widget widget_flickr">
								<h5 class="widget_title">Latest Portfolio</h5>
								<div class="flickr_images">
									<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;size=s&amp;layout=x&amp;source=user&amp;user=128791839%40N06">
									</script>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</footer>

			<div class="copyright_wrap copyright_style_text scheme_original">
				<div class="copyright_wrap_inner">
					<div class="content_wrap">
						<div class="copyright_text">
							<p>
								ThemeREX © 2015 All Rights Reserved
								<a href="#">Terms of Use</a>
								and
								<a href="#">Privacy Policy</a>
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<a href="#" class="scroll_to_top icon-angle-up" title=""></a>

	<script type='text/javascript' src='js/vendor/jquery-1.11.3.min.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/__packed.js'></script>

	<script type='text/javascript' src='js/vendor/the-events-calendar/vendor/jquery-placeholder/jquery.placeholder.min.js'></script>
	<script type='text/javascript' src='js/vendor/the-events-calendar/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js'></script>
	<script type='text/javascript' src='js/vendor/the-events-calendar/resources/tribe-events.min.js'></script>
	<script type='text/javascript' src='js/vendor/the-events-calendar/resources/tribe-events-bar.min.js'></script>

	<script type='text/javascript' src='js/custom/core.utils.min.js'></script>
	<script type='text/javascript' src='js/custom/core.init.min.js'></script>
	<script type='text/javascript' src='js/custom/shortcodes.min.js'></script>
	<script type='text/javascript' src='js/custom/_main.js'></script>

</body>
</html>