<body class="blog body_style_wide body_filled article_style_stretch top_panel_show top_panel_above sidebar_show sidebar_right sidebar_outer_hide">
<div class="body_wrap">
    <body class="page_wrap">
    <div class="top_panel_fixed_wrap"></div>
    <div class="top_panel_title top_panel_style_6  title_present breadcrumbs_present scheme_original">
        <div class="top_panel_title_inner top_panel_inner_style_6  title_present_inner breadcrumbs_present_inner">
            <div class="content_wrap">
                <h1 class="page_title">Topics</h1>
                <div class="breadcrumbs">
                    <a class="breadcrumbs_item home" href="index-presentation.html">Home</a>
                    <span class="breadcrumbs_delimiter">
                        </span>
                    <span class="breadcrumbs_item current">Topics</span>
                </div>
            </div>
        </div>
    </div>
    <div class="page_content_wrap with_padding page_paddings_yes">
        <div class="content_wrap">
            <div class="content">
                <section class="light_section no_padding">
                    <div class="container-fluid">
                        <article class="post_item post_item_excerpt odd post">
                            <div class="post_featured mobile_tap_hover">
                                <div class="post_thumb" data-image="" data-title="">
                                    <a class="hover_icon taphover hover_icon_link" href="blog-post-standard.html">
                                        <img alt="" src="">
                                    </a>
                                </div>
                            </div>
                            <div class="post_content clearfix">
                                <h3 class="post_title">
                                    <a href="blog-post-standard.html">
											<span class="post_icon icon-book-open">
											</span>
                                        <h1>Gay</h1>
                                    </a>
                                </h3>
                                <div class="post_info">
                                    <div class="post_info_item post_info_categories">
                                        <a href="#">Gay Pride
                                        </a>
                                    </div>
                                    <div class="post_info_item post_info_posted"> 13 Maggio 2021, 18:17</div>
                                    <div class="post_info_item post_info_counters">
                                        <a class="post_counters_item post_counters_comments icon-speech-bubble25" title="Comments - 0" href="#">
                                            <span class="post_counters_number">n° commenti</span>
                                        </a>
                                        <a class="post_counters_item post_counters_likes icon-heart369 enabled" title="Like" href="#"
                                           data-postid="1299"
                                           data-likes="2"
                                           data-title-like=""
                                           data-title-dislike="">
                                            <span class="post_counters_number">n° like</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="post_descr">
                                    <img src="" alt="">
                                    <p>Ciao sono Michele Intrevado e sono gay. Ho organizzato un Gay Pride. Cosa ne pensate?</p>
                                </div>
                                <div class="comments">
                                    <h4>Commenti</h4>
                                    <div class="cmt-item flex-it">
                                        <div class="author-infor">
                                            <div class="flex-it2">
                                                <h6 style="color: whitesmoke;">Sto cazzo</h6>
                                                <span class="time">12/15/2021</span>
                                            </div>
                                            <p>Ciao sono sto cazzo</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-2_3">
                                    <div class="sc_contact_form sc_form_fields">
                                        <form class="contact_1" method="post" action="">
                                            <div class="sc_form_info">
                                                <div class="sc_form_item sc_form_field label_over">
                                                    <input type="text" name="name" id="name" placeholder="Inserisci il nome">
                                                </div>
                                                <div class="sc_form_item sc_form_field label_over">
                                                    <input type="text" name="surname" id="surname" placeholder="Inserisci il cognome">
                                                </div>
                                                <div class="sc_form_item sc_form_field label_over">
                                                    <input type="text" name="email" id="email" placeholder="Inserisci l'email">
                                                </div>
                                            </div>
                                            <div class="sc_form_item sc_form_message label_over">
                                                <textarea  id="message" class="textAreaSize" name="message" placeholder="Inserisci il messaggio"></textarea>
                                            </div>
                                            <div class="sc_form_item sc_form_button">
                                                <button type="submit" name="contact_submit" class="contact_form_submit">Invia</button>
                                            </div>
                                            <div class="result sc_infobox"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <nav id="pagination" class="pagination_wrap pagination_pages">
                            <span class="pager_current active ">1</span>
                            <a href="#" class="">2
                            </a>
                            <a href="#" class="">3
                            </a>
                            <a href="#" class="pager_dot ">&hellip;
                            </a>
                            <a href="#" class="pager_next ">
                            </a>
                            <a href="#" class="pager_last ">
                            </a>
                        </nav>
                    </div>
                </section>
            </div>
            <div class="sidebar widget_area scheme_original">
                <div class="sidebar_inner widget_area_inner">
                    <aside class="widget widget_categories">
                        <h5 class="widget_title">Eventi</h5>
                        <ul>
                            <li class="cat-item cat-item-42">
                                <a href="" >Gay Pride</a>
                            </li>
                            <li class="cat-item cat-item-68">
                                <a href="">Concerto MadMan</a>
                            </li>
                            <li class="cat-item cat-item-68">
                                <a href="">Transgender</a>
                            </li>
                            <li class="cat-item cat-item-31">
                                <a href="#" >Concerto Gemitaiz</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget widget_categories">
                        <h5 class="widget_title">Categorie</h5>
                        <label class="screen-reader-text" for="cat">Categorie</label>
                        <select name='cat' id='cat' class='postform' >
                            <option value='-1'>Seleziona Categoria</option>
                            <option class="level-0" value="42">Gay Pride</option>
                            <option class="level-0" value="68">Concerto MadMan</option>
                            <option class="level-0" value="69">Transgender</option>
                            <option class="level-0" value="31">Concerto Gemitaiz</option>
                        </select>
                    </aside>

                    <aside class="widget widget_search">
                        <form method="get" class="search_form" action="#">
                            <input type="text" class="search_field" placeholder="" value="" name="s" title="" />
                            <button type="submit" class="search_button icon-search-light"></button>
                        </form>
                    </aside>
                    <aside class="widget widget_recent_comments">
                        <h5 class="widget_title">Commenti Recenti</h5>
                        <ul>
                            <li class="recentcomments">
                                <span class="comment-author-link">Martina</span>
                                su
                                <a href="#">Concerto MadMan</a>
                            </li>
                            <li class="recentcomments">
                                <span class="comment-author-link">Enrico</span>
                                su
                                <a href="#">Transgender</a>
                            </li>
                            <li class="recentcomments">
                                <span class="comment-author-link">Marco</span>
                                su
                                <a href="#">Gay Pride</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget widget_recent_entries">
                        <h5 class="widget_title">Topics Recenti</h5>
                        <ul>
                            <li>
                                <a href="#">Gay Pride</a>
                            </li>
                            <li>
                                <a href="#">Concerto MadMan</a>
                            </li>
                            <li>
                                <a href="#">Transgender</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget widget_calendar">
                        <h5 class="widget_title">Calendario</h5>
                        <table>
                            <thead>
                            <tr>
                                <th class="weekday" scope="col" title="Monday">Lun</th>
                                <th class="weekday" scope="col" title="Tuesday">Mar</th>
                                <th class="weekday" scope="col" title="Wednesday">Mer</th>
                                <th class="weekday" scope="col" title="Thursday">Gio</th>
                                <th class="weekday" scope="col" title="Friday">Ven</th>
                                <th class="weekday" scope="col" title="Saturday">Sab</th>
                                <th class="weekday" scope="col" title="Sunday">Dom</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="4" class="pad">
                                    <span class="day_wrap">&nbsp;</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">1</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">2</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">3</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="day">
                                    <span class="day_wrap">4</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">5</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">6</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">7</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">8</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">9</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">10</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="day">
                                    <span class="day_wrap">11</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">12</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">13</span>
                                </td>
                                <td class="today">
                                    <span class="day_wrap">14</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">15</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">16</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">17</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="day">
                                    <span class="day_wrap">18</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">19</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">20</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">21</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">22</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">23</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">24</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="day">
                                    <span class="day_wrap">25</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">26</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">27</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">28</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">29</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">30</span>
                                </td>
                                <td class="day">
                                    <span class="day_wrap">31</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="month_prev">
                                    <a href="#" data-type="post" data-year="2015" data-month="09" title="View posts for September 2015">Maggio</a>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    </body>
</div>
